$color-gray-6: #666;
$color-gray-c: #ccc;
$color-gray-e5: #e5e5e5;

//X-Corner V2

$color-white: white;
$color-primary-50: #eff0f9;
$color-primary-75: #bbbfe6;
$color-primary-300: #5a64c1;
$color-primary-400: #3f4687;
$color-red-50: #fbecec;
$color-red-75: #efb2b2;
$color-red-300: #d74444;
$color-red-400: #973030;
