$color-gray-6: #666;
$color-gray-c: #ccc;
$color-gray-e5: #e5e5e5;

// X-Corner V2

$color-black: #272727;
$color-white: white;
$color-nude: #af726a;
$color-primary-50: #eff0f9;
$color-primary-75: #bbbfe6;
$color-primary-300: #5a64c1;
$color-primary-400: #3f4687;
$color-secondary-50: #f9f6ef;
$color-secondary-75: #e6dabb;
$color-secondary-300: #c2a45a;
$color-red-50: #fbecec;
$color-red-75: #efb2b2;
$color-red-300: #d74444;
$color-red-400: #973030;
$color-neutrals-75: #d0d0d0;
$color-neutrals-300: #8c8c8c;
$color-neutrals-400: #626262;
$color-neutrals-500: #555;
