/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

$font-size-root: 16px;
$font-size-base: 1rem;

$font-regular: 'Assistant Regular', sans-serif;
$font-semi-bold: 'Assistant Semi Bold', sans-serif;
