<div>
    <div class="js-modal-header-title">{{lang 'cart.gift_wrapping.title'}}</div>
</div>
<div class="is-modal-body">

    {{#if quantity '>' 1}}
        <p>{{lang 'cart.gift_wrapping.choose_how'}}</p>
    {{/if}}

    <form class="form" action="{{urls.cart}}" method="post">
        <input type="hidden" name="action" value="save_giftwrapping">
        <input type="hidden" name="item_id" value="{{item_id}}">
        <fieldset class="js-form-fieldset">

            <div class="js-form-field" {{#if quantity '===' 1}}style="display:none"{{/if}}>
                <input 
                    type="radio" 
                    name="giftwraptype"
                    id="gift-wrapping-radio-same" 
                    checked="checked" 
                    value="same">
                <label for="gift-wrapping-radio-same">
                    {{lang 'cart.gift_wrapping.option_same'}}
                </label>

                <input 
                    type="radio" 
                    name="giftwraptype" 
                    id="gift-wrapping-radio-all"
                    value="different">
                <label for="gift-wrapping-radio-all">
                    {{lang 'cart.gift_wrapping.option_different'}}
                </label>
            </div>

            <div class="js-gift-wrapping-single">
                <div class="js-form-field">
                    <label for="gift-wrapping-select-same">
                        {{lang 'cart.gift_wrapping.item_single' name=product_name}}
                        {{#each gift_wrappings}}
                            {{#if preview_image}}
                                <a 
                                    id="gift-wrapping-image-all-{{id}}" 
                                    {{#unless selected}}style="display:none"{{/unless}} 
                                    target="_blank" 
                                    href="{{getImage preview_image}}">
                                    {{lang 'cart.gift_wrapping.preview'}}
                                </a>
                            {{/if}}
                        {{/each}}
                    </label>
                    <select class="js-gift-wrapping-select" name="giftwrapping[all]" id="gift-wrapping-select-same">
                        <option value="">{{lang 'cart.gift_wrapping.choose_type'}}</option>
                        {{#each gift_wrappings}}
                            <option 
                                {{#if selected}}selected{{/if}} 
                                value="{{id}}" 
                                {{name}} - ({{price.formatted}})
                            </option>
                        {{/each}}
                    </select>
                </div>

                <div class="js-form-field" id="gift-wrapping-message-all" {{#unless selected_wrapping}}style="display:none"{{/unless}}>
                    <label class="form-label" for="gift-message">
                        {{lang 'cart.gift_wrapping.gift_message'}}
                    </label>
                    <textarea 
                        class="js-form-input" 
                        name="giftmessage[all]" 
                        id="gift-message" 
                        rows="3">
                        {{selected_wrapping.message}}
                    </textarea>
                </div>
            </div>

            <div class="js-gift-wrapping-multiple">
                {{#for quantity this}}
                    <div class="js-form-field">
                        <label for="gift-wrapping-select-{{$index}}">
                            {{lang 'cart.gift_wrapping.item_multiple' index=$index name=product_name}}
                            {{#each gift_wrappings}}
                                {{#if preview_image}}
                                    <a 
                                        id="gift-wrapping-image-{{../$index}}-{{id}}" 
                                        class="gift-wrapping-image-{{../$index}}" 
                                        style="display:none" 
                                        target="_blank" 
                                        href="{{getImage preview_image}}">
                                        {{lang 'cart.gift_wrapping.preview'}}
                                    </a>
                                {{/if}}
                            {{/each}}
                        </label>
                        <select 
                            class="js-gift-wrapping-select" 
                            name="giftwrapping[{{$index}}]" 
                            id="gift-wrapping-select-{{$index}}">
                            <option value="">
                                {{lang 'cart.gift_wrapping.choose_type'}}
                            </option>
                            {{#each gift_wrappings}}
                                <option 
                                    {{#if selected}}selected{{/if}} 
                                    value="{{id}}">
                                    {{name}} - ({{price.formatted}})
                                </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="js-form-field" id="gift-wrapping-message-{{$index}}" style="display:none">
                        <label for="gift-message">
                            {{lang 'cart.gift_wrapping.gift_message'}}
                        </label>
                        <textarea 
                            class="js-form-input"
                            name="giftmessage[{{$index}}]" 
                            id="gift-message" 
                            rows="3">
                            {{selected_wrapping.message}}
                        </textarea>
                    </div>
                {{/for}}
            </div>

        </fieldset>
        <div>
            <button 
                class="c-button c-button--primary" 
                type="submit">
                {{lang 'common.form_submit'}}
            </button>
        </div>
    </form>
</div>
