.o-container {
    max-width: rem-calc($size-container);
    width: 90%;
    margin: auto;
}

.o-container--tall {
    padding-block: rem-calc(24px);
    
    @include bp(medium) {
        padding-block: rem-calc(48px);
    }
}
