.o-title {
    color: $color-black;
    font-family: $font-semi-bold;
    font-size: rem-calc(24px);
    line-height: rem-calc(40px);
    font-style: normal;
    font-weight: 600;
    margin: 0;

    @include bp(medium) {
        font-size: rem-calc(42px);
        line-height: rem-calc(56px);
    }
}
