{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<h1>
    {{lang 'gift_certificate.heading' }}
</h1>

{{> components/gift-certificate/navigation gift_page='balance'}}

<div>
    <div>
        {{lang 'gift_certificate.balance.heading'}}
    </div>

    <p>
        <strong>{{lang 'gift_certificate.balance.intro' }}</strong>
    </p>

    {{#if gift_certificate}}
        {{#if gift_certificate.error}}
            {{> components/common/alert/alert-error gift_certificate.error}}
        {{else}}
            <div>
                {{gift_certificate.balance.formatted}}
            </div>
            
            <div>
                {{gift_certificate.code}}
            </div>
        {{/if}}
    {{/if}}

    <form id="gift-certificate-balance" method="get">
        <input type="hidden" name="action" value="balance">
        <div class="js-form-field">
            <label for="giftcertificatecode">
                {{lang 'forms.gift_certificate.balance.code' }}
            </label>
            <div>
                <input class="js-form-input" id="giftcertificatecode" name="giftcertificatecode">
                
                <button type="submit" class="c-button c-button--primary">
                    {{lang 'forms.gift_certificate.balance.submit_value' }}
                </button> 
            </div>
        </div>
    </form>
</div>
{{/partial}}
{{> layout/base}}
