{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<h1>
    {{lang 'gift_certificate.heading' }}
</h1>

{{> components/gift-certificate/navigation gift_page='redeem'}}

<div>
    <div>
        {{lang 'gift_certificate.redeem.heading'}}
    </div>

    <p>
        <strong>{{lang 'gift_certificate.redeem.intro' store_name=settings.store_name }}</strong>
    </p>
    
    <ol>
        <li>{{lang 'gift_certificate.redeem.item1' }}</li>
        <li>{{lang 'gift_certificate.redeem.item2' }}</li>
        <li>{{{lang 'gift_certificate.redeem.item3' cart_url=urls.cart }}}</li>
        <li>{{lang 'gift_certificate.redeem.item4' }}</li>
    </ol>
</div>
{{/partial}}
{{> layout/base}}
