<nav aria-label="Breadcrumb" class="c-breadcrumbs">
    <ul>
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="{{#if @last}}is-active{{/if}}">
                    <a 
                        class=""
                        href="{{url}}"
                        {{#if @last}}
                            aria-current="page"
                        {{/if}}
                    >
                        <span>{{name}}</span>
                    </a>
                </li>
                {{#unless @last}}<li>›</li>{{/unless}}
            {{/each}}
        {{/unless}}
    </ul>
</nav>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
            {
                "@type": "ListItem",
                "position": {{add @index 1}},
                "item": {
                    "@id": {{{JSONstringify url}}},
                    "name": {{{JSONstringify name}}}
                }
            }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
