<nav aria-label="Breadcrumb" class="c-breadcrumbs">
    <ul class="c-breadcrumbs__list">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="c-breadcrumbs__item{{#if @last}}--active{{/if}}">
                    <a 
                        class="c-breadcrumbs__link"
                        href="{{url}}"
                        {{#if @last}}
                            aria-current="page"
                        {{/if}}
                    >
                        {{strReplace name "(dropdown)" ""}}
                    </a>
                </li>
                {{#unless @last}}
                    <li class="c-breadcrumbs__item">›</li>
                {{/unless}}
            {{/each}}
        {{/unless}}
    </ul>
</nav>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
            {
                "@type": "ListItem",
                "position": {{add @index 1}},
                "item": {
                    "@id": {{{JSONstringify url}}},
                    "name": {{{JSONstringify name}}}
                }
            }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
