<div class="absolute top-full right-0 pt-8 pb-6 px-4 bg-white bg-opacity-20 backdrop-blur w-screen max-w-xs shadow-md z-10">
    <div>
        {{#if cart.items.length}}
            <ul>
                {{#each (limit cart.items 4)}}
                    <li class="flex gap-4 mb-2">
                        <div class="w-[20%] shrink-0">
                            {{#if type '==' 'GiftCertificate'}}
                                <img
                                    alt="GiftCertificate"
                                    title="GiftCertificate"
                                    src="{{cdn ../theme_settings.default_image_gift_certificate}}"
                                >
                            {{else}}
                                {{> components/common/image 
                                    image=image 
                                    fallback_size=../theme_settings.productthumb_size
                                    default_image=../theme_settings.default_image_product
                                }}
                            {{/if}}
                        </div>
                        <div>
                            <span class="text-md">
                                {{brand.name}}
                            </span>

                            <div>
                                <a href="{{url}}" alt="{{name}}" title="{{name}}" class="hover:underline">
                                    {{name}}
                                </a>
                            </div>

                            <span class="font-bold">
                                {{#if quantity '>' 1}}
                                    {{quantity}} &times;
                                {{/if}}
                                {{#or ../customer (unless ../settings.hide_price_from_guests) (if type '==' 'GiftCertificate')}}
                                    <span{{#if price_discounted}} class="price-discounted"{{/if}}>
                                        {{price.formatted}}
                                    </span>
                                    {{#if price_discounted}}
                                        {{price_discounted.formatted}}
                                    {{/if}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </span>
                        </div>
                    </li>
                {{/each}}
            </ul>

            <div class="pt-6 flex gap-3 items-center justify-between">
                {{#if cart.additional_checkout_buttons}}
                    <div data-cart-accelerated-checkout-buttons></div>
                {{/if}}
                {{#if cart.show_primary_checkout_button}}
                    <div>
                        <a
                            href="{{urls.checkout.single_address}}"
                            class="c-button c-button--primary border border-black py-1 px-3 cursor-pointer hover:bg-black hover:text-white text-center"
                            data-primary-checkout-now-action
                        >
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}

                <div>
                    <a href="{{urls.cart}}" class="c-button border border-black py-1 px-3 cursor-pointer hover:bg-black hover:text-white text-center">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>

                {{#if cart.show_multiple_address_shipping}}
                    <div>
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            {{#if cart.additional_checkout_buttons}}
                <div>
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <div 
                role="alert" 
                aria-live="polite" 
                aria-atomic="false"
            >
                {{lang 'cart.checkout.empty_cart'}}
            </div>
        {{/if}}
    </div>
</div>
