{{#if currency_selector.currencies.length '>' 1}}
    <ul class="flex justify-end mb-2">
        <li>
            <a 
                class="js-nav-user-action js-nav-user-action-currency-selector has-dropdown flex items-center gap-4"
                href="#"
                data-collapsible="currency-selection"
                aria-controls="currency-selection"
                aria-expanded="false"
            >
                {{lang 'common.currency' code=currency_selector.active_currency_code}}
                <div aria-hidden="true">
                    <svg class="w-4 h-4">
                        <use href="#icon-chevron-down" />
                    </svg>
                </div>
            </a>
            <ul
                class="js-dropdown-menu hidden bg-white bg-opacity-20 backdrop:blur" 
                id="currency-selection"
                aria-hidden="true" 
                tabindex="-1"
            >
                {{#each currency_selector.currencies}}
                    <li>
                        <a 
                            href="{{{switch_url}}}"
                            data-currency-code="{{{code}}}"
                            {{#if cart_currency_switch_url.length '>' 0 }}
                                data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
                            {{/if}}
                            data-warning="{{lang 'common.currency_switch_promotion'}}"
                        >
                            {{#if is_active}}
                                <strong>{{name}}</strong>
                            {{else}}
                                {{name}}
                            {{/if}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
{{/if}}
