{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div data-banner-location="bottom">
            <div>
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}

<footer role="contentinfo" class="flex justify-center pt-8 pb-20 shadow-inner px-[5vw]">
    <div class="u-hidden-visually">
        {{lang 'footer.title'}}
    </div>
    <div class="o-container flex flex-col justify-center gap-2 max-w-desktop w-full">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article data-section-type="footer-web-pages">
                <div>
                    {{lang 'social.connect'}}
                </div>

                {{> components/common/social-links}}
            </article>
        {{/if}}

        <section class="flex flex-col md:flex-row justify-center md:justify-between">
            <article data-section-type="footer-web-pages" class="mt-8 md:mt-0">
                <div class="mb-4 font-bold">
                    {{lang 'footer.navigate'}}
                </div>
                <ul>
                    {{#each pages}}
                        <li>
                            <a href="{{url}}" class="hover:underline">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}" class="hover:underline">
                            {{lang 'sitemap.page_title'}}
                        </a>
                    </li>
                </ul>
            </article>

            <article data-section-type="footer-categories" class="mt-8 md:mt-0">
                <div class="mb-4 font-bold">
                    {{lang 'footer.categories'}}
                </div>
                <ul>
                    {{#each categories}}
                        <li>
                            <a href="{{url}}" class="hover:underline">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                <article data-section-type="footer-brands" class="mt-8 md:mt-0">
                    <div class="mb-4 font-bold">
                        {{lang 'footer.brands'}}
                    </div>
                    <ul>
                        {{#each shop_by_brand}}
                            <li>
                                <a href="{{url}}" class="hover:underline">{{name}}</a>
                            </li>
                        {{/each}}
                        <li>
                            <a href="{{urls.brands}}" class="hover:underline">
                                {{lang 'common.view_all'}}
                            </a>
                        </li>
                    </ul>
                </article>
            {{/and}}

            {{#if settings.address}}
                <article data-section-type="store-info" class="mt-8 md:mt-0">
                    <div class="mb-4 font-bold">
                        {{lang 'footer.info'}}
                    </div>
                    <address>
                        {{nl2br settings.address}}
                    </address>
                    {{#if settings.phone_number}}
                        <strong>
                            {{lang 'footer.call_us' phone_number=settings.phone_number}}
                        </strong>
                    {{/if}}
                </article>
            {{/if}}

            <article data-section-type="newsletter-subscription" class="mt-8 md:mt-0">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                
                {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if settings.paypal_commerce_credit_message}}
            <div>
                <p>
                    {{nl2br settings.paypal_commerce_credit_message}}
                </p>
            </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="text-sm text-slate-400 mt-14 md:mt-10">
                <p>
                    {{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow" class="hover:text-black hover:underline">BigCommerce</a>
                </p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="text-sm text-slate-400">
                <p class="my-0">
                    &copy; {{moment format="YYYY"}} {{settings.store_name}} 
                </p>
            </div>
        {{/if}}
    </div>

    {{{region name="ssl_site_seal--global"}}}
</footer>
