<a class="u-hidden-visually" href="#main-content">
    {{lang 'header.skip_to_main'}}
</a>
{{#if banners.top}}
    <div data-banner-location="top">
        {{#each (limit banners.top_metadata 1)}}
            <div 
                data-event-type="promotion" 
                data-entity-id="{{this.id}}" 
                data-name="{{this.banner-name}}" 
                data-position="{{this.location}}" 
                data-banner-id="{{this.banner-name}}"
            >
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

<header class="js-header c-header" role="banner">
    <a href="#" data-mobile-menu-toggle="menu">
        <span>Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    <div>
        {{> components/common/store-logo}}
    </div>
    <div id="menu" class="js-menu c-menu">
        {{> components/common/navigation-menu}}
    </div>
    {{{region name="header_navigation_bottom--global"}}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
