<div 
    class="js-nav-page-sub-menu-horizontal" 
    id="nav-pages-{{id}}" 
    aria-hidden="true" 
    tabindex="-1"
>
    <ul>
        <li>
            <a class="js-nav-pages-action" href="{{url}}">
                {{lang 'category.view_all.name' category=name}}
            </a>
        </li>
        {{#each children}}
            <li>
                {{#if children}}
                    <a 
                        class="js-nav-pages-actionhas-sub-menu{{#if is_active}} active-page{{/if}}" 
                        href="{{url}}" 
                        data-collapsible="nav-pages-{{id}}"
                    >
                        {{name}}<svg><use href="#icon-chevron-down" /></svg>
                    </a>
                    {{> components/common/navigation-dropdown}}
                {{else}}
                    <a class="js-nav-pages-action{{#if is_active}} active-page{{/if}}" href="{{url}}">
                        {{name}}
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
