{{#contains name "(dropdown)"}}
    <a 
        class="js-nav-pages-action c-navigation__link has-sub-menu{{#if is_active}} is-active{{/if}}{{#if active_category_navigation '===' 'true'}} is-active{{/if}}"
        href="{{url}}"
        data-collapsible="nav-pages-{{id}}"
    >
        {{strReplace name "(dropdown)" ""}}
    
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <mask id="mask0_2973_30873" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24">
                <path d="M6.5 9L12.5 15L18.5 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </mask>
            <g mask="url(#mask0_2973_30873)">
                <rect x="0.5" width="24" height="24" fill="{{#if is_active}}#5A64C1{{else}}#272727{{/if}}"/>
            </g>
        </svg>
    </a>
    <div class="c-navigation__megamenu" id="nav-pages-{{id}}" aria-hidden="true" tabindex="-1">
        <div class="o-container">
            <div class="c-navigation__megamenu-inner">

                <div aria-hidden="true" class="js-quick-search">
                    {{> components/common/quick-search name='nav-menu-quick-search'}}
                </div>
                <ul class="c-navigation-list__submenu">
                    {{#each categories}}
                        {{#each children}}
                            <li>
                                {{#if children}}
                                    <a 
                                        class=" js-nav-pages-action has-sub-menu{{#if is_active}} is-active{{/if}} c-navigation-list__submenu-header"
                                        href="{{url}}"
                                        aria-label="{{name}}"
                                    >
                                        {{name}}
                                    </a>
                                    <ul id="nav-pages-{{id}}" class="is-open c-navigation-list__submenu-list">
                                        {{#each children}}
                                            <li>
                                                <a 
                                                    class="js-nav-pages-action{{#if is_active}} is-active{{/if}} c-navigation-list__submenu-item"
                                                    href="{{url}}"
                                                    aria-label="{{name}}"
                                                >
                                                    {{name}}
                                                </a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    {{/each}}
                    <ul class="c-navigation-list__submenu-list">
                        <li>
                            <a 
                                class="js-nav-pages-action c-navigation-list__submenu-header"
                                href="#"
                            >
                                {{lang 'common.login'}}
                            </a>
                        </li>
                        <li>
                            <a 
                                class="js-nav-pages-action c-navigation__sign-in"
                                href="/login.php"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#5A64C1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                {{lang 'common.sign_in_now'}}
                            </a>
                        </li>
                        <li>
                            <a 
                                class="js-nav-pages-action c-navigation-list__submenu-header"
                                href="#"
                            >
                                {{lang 'common.reach_out'}}
                            </a>
                            {{> components/common/social-links social_media=social_media}}
                        </li>
                    </ul>
                    <li>
                        <a href="/">
                            <img class="c-navigation__promo" src={{cdn 'img/navigation/30-off.png'}} height="190" width="284" loading="lazy"/>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img class="c-navigation__promo" src={{cdn 'img/navigation/black-friday.png'}} height="190" width="284" loading="lazy"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{else}}
    <a 
        class="js-nav-pages-action{{#if is_active}} is-active{{/if}} c-navigation__link"
        href="{{url}}"
        aria-label="{{name}}"
    >
        {{name}}
    </a>
{{/contains}}
