<nav class="c-navigation">
    <div class="header-logo">
        {{> components/common/store-logo}}
    </div>

    <ul class="c-navigation__items">
        {{#if customer.store_credit.value '>' 0}}
            <li class="c-navigation__item">
                <a 
                    class="js-nav-user-action c-navigation__link"
                    data-dropdown="store-credit-dropdown"
                    data-options="align:bottom"
                    href="{{urls.cart}}"
                    aria-label="{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}"
                >
                    <span>
                        {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                    </span>
                </a>
                <div 
                    class="js-dropdown-menu" 
                    id="store-credit-dropdown"
                    aria-hidden="true"
                >
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li>
                {{> components/common/social-links}}
            </li>
            <li>|</li>
        {{/if}}
        <li class="u-hidden@medium">
            <button
                class="js-mobile-mega-menu-search c-navigation__link-search"
            >
                <svg class="c-navigation__icon"><use xlink:href="#icon-search-black" /></svg>
            </button>
        </li>
        <li class="u-hidden@mobile">
            <button 
                class="js-nav-user-action js-quick-search-expand js-mega-menu-search c-navigation__link-search"
                type="button"
                data-search="quick-search"
                aria-controls="quick-search"
                aria-label="{{lang 'common.search'}}"
            >
                <svg class="c-navigation__icon"><use xlink:href="#icon-search-black" /></svg>
                <span class="js-nav-user-action-text c-navigation__label">{{lang 'common.search'}}</span>
            </button>
        </li>
        <li>
            <a 
                class="js-nav-user-action js-compare-nav c-navigation__link"
                href="{{urls.compare}}"
                aria-label="{{lang 'common.compare'}}"
            >
                <svg class="c-navigation__icon"><use xlink:href="#icon-compare" /></svg>
                <span class="js-nav-user-action-text c-navigation__label">{{lang 'common.compare'}}</span>
                <span class="js-count-pill is-positive u-hidden@mobile"></span>
            </a>
        </li>
        {{#if settings.gift_certificates_enabled}}
            <li>
                <a 
                    class="js-nav-user-action c-navigation__link"
                    href="{{urls.gift_certificate.purchase}}"
                    aria-label="{{lang 'common.gift_cert'}}"
                >
                    <span>{{lang 'common.gift_cert'}}</span>
                </a>
            </li>
        {{/if}}

        <li>
            <a 
                class="js-nav-user-action js-cart-preview js-cart-disable-preview c-navigation__link"
                href="{{urls.cart}}"
                aria-label="{{lang 'cart.nav_aria_label'}}"
            >
                <svg class="c-navigation__icon"><use xlink:href="#icon-cart" /></svg>
                <span class="js-nav-user-action-text c-navigation__label">{{lang 'common.cart'}}</span>
                <span class="js-count-pill js-cart-quantity c-navigation__cart-quantity"></span>
            </a>

            <div 
                class="js-dropdown-menu js-cart-preview-dropdown"
                aria-hidden="true"
            ></div>
        </li>
        <li class="js-nav-user-account c-navigation__item-account">
            {{#if customer}}
                <a  
                    class="js-nav-user-action c-navigation__link"
                    href="{{urls.account.index}}"
                    aria-label="{{lang 'common.account'}}"
                >
                    <svg class="c-navigation__icon"><use xlink:href="#icon-account" /></svg>
                    <span class="js-nav-user-action-text c-navigation__label">{{lang 'common.account'}}</span>
                </a>
            {{else}}
                <a 
                    class="js-nav-user-action c-navigation__link"
                    href="{{urls.auth.login}}"
                    aria-label="{{lang 'common.login'}}"
                >
                    <svg class="c-navigation__icon"><use xlink:href="#icon-account" /></svg>
                    <span class="js-nav-user-action-text c-navigation__label">{{lang 'common.login'}}</span>
                </a>
            {{/if}}
        </li>
        <li>
            <a class="u-hidden@medium c-menu__toggle" href="#" data-mobile-menu-toggle="menu">
                <svg class="c-navigation__icon c-menu__hamburger"><use xlink:href="#icon-hamburger" /></svg>
                <svg class="c-navigation__icon c-menu__close"><use xlink:href="#icon-menu-close" /></svg>
            </a>
        </li>
    </ul>
</nav>
