{{#if children}}
    <a 
        class="js-nav-pages-action has-sub-menu is-root{{#if is_active}} active-page{{/if}}"
        href="{{url}}"
        data-collapsible="nav-pages-{{id}}"
        aria-label="{{name}}"
    >
        {{name}}
            
        <svg>
            <use href="#icon-chevron-down" />
        </svg>
    </a>
    {{> components/common/navigation-dropdown}}
{{else}}
    <a 
        class="js-nav-pages-action{{#if is_active}} active-page{{/if}}"
        href="{{url}}"
        aria-label="{{name}}"
    >
        {{name}}
    </a>
{{/if}}
