{{#if children}}
    <a 
        class="js-nav-pages-action has-sub-menu{{#if is_active}} is-active{{/if}}"
        href="{{url}}"
        data-collapsible="nav-pages-{{id}}"
    >
        {{name}}
    
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
            <mask id="mask0_2973_30873" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24">
                <path d="M6.5 9L12.5 15L18.5 9" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </mask>
            <g mask="url(#mask0_2973_30873)">
                <rect x="0.5" width="24" height="24" fill="{{#if is_active}}#5A64C1{{else}}#272727{{/if}}"/>
            </g>
        </svg>
    </a>
    <div class="c-nav-sub-menu" id="nav-pages-{{id}}" aria-hidden="true" tabindex="-1">
        <div aria-hidden="true" class="js-quick-search">
            {{> components/common/quick-search name='nav-quick-search'}}
        </div>
        <ul class="c-nav-sub-menu-items">
            <li>
                <a 
                    class="js-nav-pages-action"
                    href="{{url}}"
                    aria-label="{{lang 'category.view_all.name' category=name}}"
                >
                    {{lang 'category.view_all.name' category=name}}
                </a>
            </li>
            {{#each children}}
                <li>
                    {{#if children}}
                        <a 
                            class=" js-nav-pages-action has-sub-menu{{#if is_active}} is-active{{/if}}"
                            href="{{url}}"
                            aria-label="{{name}}"
                        >
                            {{name}}
                            <span 
                                data-collapsible="nav-pages-{{id}}"
                                data-collapsible-disabled-breakpoint="medium"
                                data-collapsible-disabled-state="open"
                                data-collapsible-enabled-state="closed"
                            >
                                <svg>
                                    <use href="#icon-chevron-down" />
                                </svg>
                            </span>
                        </a>
                        <ul id="nav-pages-{{id}}">
                            {{#each children}}
                                <li>
                                    <a 
                                        class="js-nav-pages-action{{#if is_active}} is-active{{/if}}"
                                        href="{{url}}"
                                        aria-label="{{name}}"
                                    >
                                        {{name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <a 
                            class="js-nav-pages-action{{#if is_active}} is-active{{/if}}"
                            href="{{url}}"
                            aria-label="{{name}}"
                        >
                            {{name}}
                        </a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <a 
        class="js-nav-pages-action{{#if is_active}} is-active{{/if}}"
        href="{{url}}"
        aria-label="{{name}}"
    >
        {{name}}
    </a>
{{/if}}
