{{#if children}}
    <a 
        class="js-nav-pages-action has-sub-menu{{#if is_active}} active-page{{/if}}"
        href="{{url}}"
        data-collapsible="nav-pages-{{id}}"
    >
        {{name}}
    
        <svg>
            <use href="#icon-chevron-down" />
        </svg>
    </a>
    <div id="nav-pages-{{id}}" aria-hidden="true" tabindex="-1">
        <ul>
            <li>
                <a 
                    class="js-nav-pages-action"
                    href="{{url}}"
                    aria-label="{{lang 'category.view_all.name' category=name}}"
                >
                    {{lang 'category.view_all.name' category=name}}
                </a>
            </li>
            {{#each children}}
                <li>
                    {{#if children}}
                        <a 
                            class=" js-nav-pages-action has-sub-menu{{#if is_active}} active-page{{/if}}"
                            href="{{url}}"
                            aria-label="{{name}}"
                        >
                            {{name}}
                            <span 
                                data-collapsible="nav-pages-{{id}}"
                                data-collapsible-disabled-breakpoint="medium"
                                data-collapsible-disabled-state="open"
                                data-collapsible-enabled-state="closed"
                            >
                                <svg>
                                    <use href="#icon-chevron-down" />
                                </svg>
                            </span>
                        </a>
                        <ul id="nav-pages-{{id}}">
                            {{#each children}}
                                <li>
                                    <a 
                                        class="js-nav-pages-action{{#if is_active}} active-page{{/if}}"
                                        href="{{url}}"
                                        aria-label="{{name}}"
                                    >
                                        {{name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <a 
                            class=" js-nav-pages-action{{#if is_active}} active-page{{/if}}"
                            href="{{url}}"
                            aria-label="{{name}}"
                        >
                            {{name}}
                        </a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <a 
        class="js-nav-pages-action{{#if is_active}} active-page{{/if}}"
        href="{{url}}"
        aria-label="{{name}}"
    >
        {{name}}
    </a>
{{/if}}
