{{#if children}}
    <a 
        class="js-nav-pages-action has-sub-menu{{#if is_active}} is-active{{/if}} font-bold uppercase flex gap-2 items-center cursor-pointer py-4"
        href="{{url}}"
        data-collapsible="nav-pages-{{id}}"
    >
        {{name}}
    
        <svg class="w-4 h-4">
            <use href="#icon-chevron-down" />
        </svg>
    </a>
    <div 
        id="nav-pages-{{id}}" 
        aria-hidden="true" 
        tabindex="-1"
        class="hidden relative"
    >
        <ul class="space-y-3 absolute top-full p-3 bg-white w-max left-3">
            <li>
                <a 
                    class="js-nav-pages-action hover:underline cursor-pointer"
                    href="{{url}}"
                    aria-label="{{lang 'category.view_all.name' category=name}}"
                >
                    {{lang 'category.view_all.name' category=name}}
                </a>
            </li>
            {{#each children}}
                <li>
                    {{#if children}}
                        <a 
                            class=" js-nav-pages-action has-sub-menu{{#if is_active}} is-active{{/if}} hover:underline cursor-pointer"
                            href="{{url}}"
                            aria-label="{{name}}"
                        >
                            {{name}}
                            <span 
                                data-collapsible="nav-pages-{{id}}"
                                data-collapsible-disabled-breakpoint="medium"
                                data-collapsible-disabled-state="open"
                                data-collapsible-enabled-state="closed"
                            >
                                <svg>
                                    <use href="#icon-chevron-down" />
                                </svg>
                            </span>
                        </a>
                        <ul id="nav-pages-{{id}}">
                            {{#each children}}
                                <li>
                                    <a 
                                        class="js-nav-pages-action{{#if is_active}} is-active{{/if}} hover:underline cursor-pointer"
                                        href="{{url}}"
                                        aria-label="{{name}}"
                                    >
                                        {{name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <a 
                            class="js-nav-pages-action{{#if is_active}} is-active{{/if}} hover:underline cursor-pointer"
                            href="{{url}}"
                            aria-label="{{name}}"
                        >
                            {{name}}
                        </a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
{{else}}
    <a 
        class="js-nav-pages-action{{#if is_active}} is-active{{/if}} font-bold uppercase py-4"
        href="{{url}}"
        aria-label="{{name}}"
    >
        {{name}}
    </a>
{{/if}}
