<nav aria-label="pagination">
    <ul class="js-pagination-list">
        {{#if previous}}
            <li class="js-pagination-item-previous">
                <a 
                    class="js-pagination-link js-faceted-search-facet"
                    href="{{previous}}"
                    aria-label="{{lang 'common.previous'}}"
                >
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use href="#icon-chevron-left"></use>
                        </svg>
                    </i>
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}
        {{#each links}}
            <li 
                {{#if this.number '==' ../current}}
                    class="is-current"
                {{/if}}
            >
                <a 
                    class="js-pagination-link js-faceted-search-facet js-pagination-current-page-link"
                    href="{{this.url}}"
                    {{#if this.number '==' ../current}}
                        aria-current="page"
                    {{/if}}
                    aria-label="{{lang 'common.paginator.page_of' current=this.number total=../links.length}}"
                >
                    {{this.number}}
                </a>
            </li>
        {{/each}}

        {{#if next}}
            <li class="js-pagination-item-next">
                <a 
                    class="js-pagination-link"
                    href="{{next}}"
                    {{#unless reload}}
                        data-faceted-search-facet
                    {{/unless}}
                    aria-label="{{lang 'common.next'}}"
                >
                    {{lang 'common.next'}}
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </i>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>
