<div>
    <ul class="js-pagination-list">
        {{#if previous}}
            <li class="js-pagination-item-previous">
                <a class="js-pagination-link js-faceted-search-facet" href="{{previous}}">
                    <svg>
                        <use href="#icon-chevron-left"></use>
                    </svg>
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}

        {{#if this.links.length}}
            {{#each this.links}}
                <a class="js-pagination-link" href="{{this.link}}">
                    <li>{{this.number}}</li>
                </a>
            {{/each}}
        {{/if}}

        {{#if next}}
            <li class="js-pagination-item-next">
                <a class="js-pagination-link js-faceted-search-facet" href="{{next}}">
                    {{lang 'common.next'}}
                    <svg>
                        <use href="#icon-chevron-right"></use>
                    </svg>
                </a>
            </li>
        {{/if}}
    </ul>
</div>
