<div>
    <ul class="js-pagination-list">
        {{#if previous}}
            <li class="js-pagination-item-previous">
                <a class="js-pagination-link" href="{{previous}}" data-faceted-search-facet>
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use href="#icon-chevron-left"></use>
                        </svg>
                    </i>
                    {{lang 'common.previous'}}
                </a>
            </li>
        {{/if}}

        {{#if this.links.length}}
            {{#each this.links}}
                <a class="js-pagination-link" href="{{this.link}}">
                    <li>{{this.number}}</li>
                </a>
            {{/each}}
        {{/if}}

        {{#if next}}
            <li class="js-pagination-item-next">
                <a class="js-pagination-link" href="{{next}}" data-faceted-search-facet>
                    {{lang 'common.next'}}
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </i>
                </a>
            </li>
        {{/if}}
    </ul>
</div>
