<a href="{{urls.home}}" data-header-logo-link>
    {{#if settings.store_logo.image}}
        {{#if theme_settings.logo_size '===' 'original'}}
            <img
                src="{{getImage settings.store_logo.image 'logo_size'}}"
                alt="{{settings.store_logo.title}}"
                title="{{settings.store_logo.title}}"
            >
        {{else}}
            <div>
                <img
                    src="{{getImage settings.store_logo.image 'logo_size'}}"
                    srcset="{{getImageSrcset1x2x settings.store_logo.image theme_settings.logo_size}}"
                    alt="{{settings.store_logo.title}}"
                    title="{{settings.store_logo.title}}"
                >
            </div>
        {{/if}}
    {{else}}
        <span>{{settings.store_logo.title}}</span>
    {{/if}}
</a>
