<div class="mb-4 font-bold">
    {{lang 'newsletter.subscribe'}}
</div>
<p class="mb-4">
    {{lang 'newsletter.subscribe_intro'}}
</p>

<form action="{{urls.subscribe.action}}" method="post">
    <input type="hidden" name="action" value="subscribe">
    <input type="hidden" name="nl_first_name" value="bc">
    <input type="hidden" name="check" value="1">
    <div class="js-form-field">
        <label class="u-hidden-visually" for="nl_email">
            {{lang 'common.email_address'}}
        </label>
        <div>
            <input 
                class="js-form-input c-input w-full"
                id="nl_email"
                name="nl_email"
                type="email"
                value="{{customer.email}}"
                placeholder="{{lang 'newsletter.email_placeholder'}}"
                aria-describedby="alert-box-message-text"
                aria-required="true"
                required
            >
            <button 
                class="
                    w-full md:w-auto
                    c-button c-button--primary 
                    block
                    py-1 px-3 
                    mt-2
                    border border-black 
                    cursor-pointer 
                    bg-black hover:bg-transparent 
                    text-white hover:text-black
                "
                type="submit"
            >
                {{lang 'newsletter.subscribe_submit'}}
            </button>
        </div>
        {{#if settings.show_newsletter_summary }}
            <div>{{settings.newsletter_summary}}</div>
        {{/if}}
    </div>
</form>
