---
brands:
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section>
    <h1>
        {{lang 'brand.label'}}
    </h1>
    
    {{{region name="brands_below_header"}}}
    
    <ul>
        {{#each brands}}
            <li>
                <article>
                    <figure>
                        <a aria-label="{{name}}" href="{{url}}">
                            <div>
                                {{> components/common/image
                                    image=image
                                    class="card-image"
                                    fallback_size=../theme_settings.brand_size
                                    default_image=../theme_settings.default_image_brand
                                }}
                            </div>
                        </a>
                    </figure>
                    <div>
                        <a href="{{url}}">{{name}}</a>
                    </div>
                </article>
            </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.brands}}

    {{{region name="brands_below_content"}}}
</section>
{{/partial}}
{{> layout/base}}
