{{#partial "page"}}
{{inject 'comparisons' comparisons}}
{{inject 'compareRemoveMessage' (lang 'compare.no_remove')}}

<div class="o-grid o-grid--space-small">

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <h1 class="o-heading o-heading--l">
        {{lang 'compare.products'}}
    </h1>

    <div class="c-product-compare">
        {{#each comparisons}}
            <div class="c-product-compare__card">
                {{> components/products/card-alternate class="c-card__compare-article" hide_price='true'}}
                <div class="c-product-compare__description">
                    {{{ summary }}}
                </div>
                <div class="c-product-compare__details">
                    <span class="c-product-compare__detail-label">
                        {{lang 'products.availability'}}
                    </span>
                    <div class="c-product-compare__detail-value">
                        {{#if availability}}
                            {{ availability }}
                        {{else}}
                            {{lang 'common.not_applicable'}}
                        {{/if}}
                    </div>
                </div>
                {{#if custom_fields}}
                    {{#each custom_fields}}
                        <div class="c-product-compare__details">
                            <span class="c-product-compare__detail-label">
                                {{strReplace name '_' ' '}}?
                            </span>
                            <div class="c-product-compare__detail-value">
                                {{{value}}}
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
                {{#if price.without_tax}}
                    <div class="c-product-compare__details">
                        <span class="c-product-compare__detail-label">
                            {{lang 'cart.checkout.price'}}
                        </span>
                        <div class="c-product-compare__detail-value u-font-bold">
                            {{price.without_tax.formatted}}
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
