{{#partial "page"}}

<section class="p-contact__section">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#unless theme_settings.hide_contact_us_page_heading }}
        <h1 class="p-contact__title">
            {{page.title}}
        </h1>
    {{/unless}}

    {{#if page.sub_pages}}
        <nav>
            <ul>
                {{#each page.sub_pages}}
                    <li>
                        <a class="js-nav-bar-action" href="{{url}}">
                            {{title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    <div class="p-contact__container c-wysiwyg">
        {{#if forms.contact.success}}
            <div class="p-contact__success">
                {{{lang 'forms.contact_us.successful' shopPath=urls.home}}}
            </div>
        {{else}}
            <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
        {{/if}}

    </div>

</section>

{{/partial}}

{{> layout/base}}
