{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    {{#unless theme_settings.hide_page_heading }}
        <h1 class="p-page__title">
            {{ page.title }}
        </h1>
    {{/unless}}

    {{#if page.sub_pages}}
        <nav>
            <ul>
                {{#each page.sub_pages}}
                    <li>
                        <a class="js-nav-bar-action" href="{{url}}">
                            {{title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </nav>
    {{/if}}

    {{{region name="page_builder_content"}}}

    <div>
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            <p>
                {{{page.content}}}
            </p>
        {{/replace}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <div>
                        <a href="{{url}}" target="_blank">
                            {{title}}
                        </a>
                    </div>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</section>

{{/partial}}

{{> layout/base}}
