---
product_results:
    limit: {{theme_settings.search_page_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.search_page_products_per_page}}
{{inject 'searchResultsCount' (lang 'search.results.count' count=result_count search_query=(sanitize forms.search.query))}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<section class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 my-8">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{#if forms.search.query}}
            <div class="js-search-results-heading">
                {{>components/search/heading}}
            </div>
        {{/if}}

        <nav class="mt-8">
            <span id="search-tabs-widget-description" class="aria-description-hidden x-hidden">
                {{lang 'search.tabs_accesibility_hint'}}
            </span>
            <ul role="tablist" class="js-search-page-tabs">
                <li role="presentation">
                    <a 
                        aria-describedby="search-tabs-widget-description"
                        role="tab" 
                        aria-controls="product-listing-container"
                        class="js-nav-bar-action js-product-results-toggle js-search-results-product-count" 
                        href="{{forms.search.product_url}}"
                    >
                        {{>components/search/product-count}}
                    </a>
                </li>
                <li role="presentation">
                    <a 
                        aria-describedby="search-tabs-widget-description" 
                        role="tab" 
                        aria-controls="search-results-content"
                        class="js-nav-bar-action js-content-results-toggle js-search-results-content-count" 
                        href="{{forms.search.content_url}}">
                        {{>components/search/content-count}}
                    </a>
                </li>
                {{#unless product_results.faceted_search_enabled}}
                    {{#if false}}
                        <li>
                            <a 
                                class="js-nav-bar-action js-toggle-link" 
                                data-collapsible="advanced-search-content" 
                                href="#" 
                                aria-controls="advanced-search-content" 
                                aria-expanded="false"
                            >
                                <span>
                                    {{lang 'forms.search.hide'}}
                                </span>
                                <span>
                                    {{lang 'forms.search.show'}}
                                </span>
                            </a>
                        </li>
                    {{/if}}
                {{/unless}}
            </ul>
        </nav>

        {{#unless product_results.faceted_search_enabled}}
            {{>components/search/advanced-search}}
        {{/unless}}
    </div>
</section>

<section class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 my-8 flex flex-col md:flex-row gap-8">
        {{#if product_results.faceted_search_enabled}}
            <aside 
                class="js-faceted-search-container md:w-72 shrink-0 {{#if forms.search.section '!=' 'product'}}u-hidden-visually{{/if}}" 
            >
                {{> components/faceted-search/index product_results}}
            </aside>
        {{/if}}

        <div>
            {{#if forms.search.has_suggestions}}
                <div>
                    <div>
                        {{#if forms.search.suggested_query}}
                            <div>
                                {{lang 'forms.search.did_you_mean'}} 
                                <strong>
                                    {{forms.search.suggested_query.query}}
                                </strong>
                                <br>
                                <a 
                                    href="{{forms.search.suggested_query.url}}" 
                                    class="inline-block mt-2 mb-6 border border-black py-1 px-3 cursor-pointer hover:bg-black hover:text-white text-center"
                                >
                                    {{lang 'forms.search.refine'}}
                                </a>
                            </div>

                            {{#if result_count '===' 0}}
                                <div>
                                    <p>
                                        {{lang 'forms.search.your_search_for'}}
                                        "<strong>{{{sanitize forms.search.query}}}</strong>"
                                        {{lang 'forms.search.no_match'}}
                                    </p>
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#if category_results.length}}
                            <div class="mb-8">
                                <div class="font-bold">{{lang 'forms.search.categories'}}</div>
                                <ul>
                                    {{#each category_results}}
                                        <li>
                                            {{#each this}}
                                                <a href="{{url}}" class="underline">{{name}}</a>
                                                {{#unless @last}} > {{/unless}}
                                            {{/each}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if brand_results.length}}
                            <div class="mb-4">
                                <div class="font-bold">{{lang 'forms.search.brand'}}</div>
                                {{#each brand_results}}
                                    <a href="{{url}}" class="underline">{{name}}</a>
                                    {{#unless @last}}, {{/unless}}
                                {{/each}}
                            </div>
                        {{/if}}

                        {{#if result_count '===' 0}}
                            <div class="mb-4">
                                <div class="font-bold">{{lang 'forms.search.suggestions.title'}}</div>
                                <ul>
                                    <li>{{lang 'forms.search.suggestions.line1'}}</li>
                                    <li>{{lang 'forms.search.suggestions.line2'}}</li>
                                    <li>{{lang 'forms.search.suggestions.line3'}}</li>
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/if}}

            <div 
                role="tabpanel" 
                class="js-search-results-content"
                aria-labelledby="search-results-content-count" 
                {{#if forms.search.section '!=' 'content'}}class="u-hidden-visually"{{/if}}
            >
                {{> components/search/content-listing}}
            </div>

            <div 
                role="tabpanel" 
                class="js-product-listing-container {{#if forms.search.section '!=' 'product'}}u-hidden-visually{{/if}}"
                aria-labelledby="search-results-product-count" 
            >
                {{> components/search/product-listing}}
            </div>

            {{{region name="search_below_content"}}}
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
