---
product_results:
    limit: {{theme_settings.search_page_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.search_page_products_per_page}}
{{inject 'searchResultsCount' (lang 'search.results.count' count=result_count search_query=(sanitize forms.search.query))}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
<div class="o-grid o-grid--space-small">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <h1 class="o-heading o-heading--l">{{lang 'search.results.title'}}</h1>
    {{#if forms.search.query}}
        <div class="js-search-results-heading c-search__results-heading">
            {{>components/search/heading}}
            {{>components/common/search-box}}
        </div>
    {{/if}}

    <button class="c-button c-button--secondary c-search__hide-filters c-button--full js-search-hide-filters">
        <span class="c-search__hide-filters-label js-hide-filters-label">{{lang 'search.faceted.hide-filters'}}</span>
        <span class="c-search__hide-filters-label js-hide-filters-label is-open">{{lang 'search.faceted.show-filters'}}</span>
        {{> components/icon/icon iconFileName="arrow-up" class="c-search__hide-filters-icon"}}
    </button>

    <section class="c-search__wrapper">
        <div class="c-search__facets js-search-facets">
            {{#unless product_results.faceted_search_enabled}}
                {{>components/search/advanced-search}}
            {{/unless}}
            {{#if product_results.faceted_search_enabled}}
                <aside
                    class="js-faceted-search-container {{#if forms.search.section '!=' 'product'}}u-hidden-visually{{/if}}"
                >
                    {{> components/faceted-search/index product_results}}
                </aside>
            {{/if}}
        </div>
        <div class="c-search__results">
            <div
                role="tabpanel"
                class="js-search-results-content"
                aria-labelledby="search-results-content-count"
                {{#if forms.search.section '!=' 'content'}}class="u-hidden-visually"{{/if}}
            >
                {{> components/search/content-listing}}
            </div>

            <div
                role="tabpanel"
                class="js-product-listing-container {{#if forms.search.section '!=' 'product'}}u-hidden-visually{{/if}}"
                aria-labelledby="search-results-product-count"
            >
                {{> components/search/product-listing}}
            </div>

            {{{region name="search_below_content"}}}
        </div>
    </section>
</div>

{{/partial}}
{{> layout/base}}
