{{#partial "page"}}
<div class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 my-8 relative">
        <h1 class="font-bold text-3xl my-10">{{lang 'sitemap.page_title'}}</h1>

        <ul>
            {{#each sitemap}}
                <li>
                    <h2>{{label}}</h2>
                    <ul>
                        {{#each body}}
                            <li>
                                <a href="{{url}}">{{label}}</a>
                                {{#if children}}
                                    <ul>
                                    {{#each children}}
                                        {{> components/sitemap/links}}
                                    {{/each}}
                                    </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                        {{#if show_all_link}}
                            <li>
                                <a href="{{subsection_url}}">
                                    {{lang 'sitemap.show_all_link'}}
                                </a>
                            </li>
                        {{/if}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/partial}}
{{> layout/base}}
