{{inject 'enterWishlistNameError' (lang 'account.wishlists.enter_wishlist_name_error')}}

<div>
    <form
        action="{{#if forms.wishlist.id}}{{urls.account.wishlists.edit}}{{else}}{{urls.account.wishlists.add}}&product_id={{forms.wishlist.product_id}}{{/if}}"
        class="js-wishlist-form c-form c-form--full"
        method="post"
    >
        <input
            type="hidden"
            name="submit"
            class="c-form__input"
        />
        <div>
            <label for="wishlistname" class="c-form__label">
                {{lang 'forms.wishlist.name'}}
                <small>*</small>
            </label>
            <input
                class="js-form-input c-form__input"
                name="wishlistname"
                id="wishlistname"
                value="{{forms.wishlist.name}}"
            />
        </div>
        <div class="u-margin-top--s">
            <input type="checkbox" name="publicwishlist" id="publicwishlist"{{#if forms.wishlist.is_public}} checked{{/if}} class="c-form__checkbox-input">
            <label for="publicwishlist" class="c-form__checkbox-label"> {{lang 'forms.wishlist.public' }} </label>
        </div>
        <div class="u-margin-top--s">
            {{#if forms.wishlist.id}}
            <input
                type="hidden"
                name="wishlistid"
                value="{{forms.wishlist.id}}"
            />
            <button
                class="c-button c-button--primary"
                type="submit"
            >
                {{lang 'account.wishlists.save'}}
            </button>
            {{else}}
            <button
                class="c-button c-button--primary"
                type="submit"
            >
                {{lang 'account.wishlists.create'}}
            </button>
            {{/if}}
        </div>
    </form>
</div>
