{{#unless customer.addresses}}
    {{> components/common/alert/alert-info (lang 'account.addresses.no_addresses')}}
{{/unless}}

<ul>
    {{#each customer.addresses}}
        <li>
            <div>
                <div>
                    <div>
                        {{first_name}} {{last_name}}
                    </div>
                    <ul>
                        <li>
                            {{company}}
                        </li>
                        <li>
                            {{address1}}
                        </li>
                        <li>
                            {{address2}}
                        </li>
                        <li>
                            {{city}}{{#if state}}, {{state}}{{/if}} {{zip}}
                        </li>
                        <li>
                            {{country}}
                        </li>
                    </ul>
                    {{#if phone}}
                        <dl>
                            <dt>
                                {{lang 'account.addresses.phone' }}
                            </dt>
                            <dd>
                                {{phone}}
                            </dd>
                        </dl>
                    {{/if}}
                    <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
                        <a class="c-button c-button-primary button--small" href="{{edit_url}}">
                            {{lang 'common.edit' }}
                        </a>
                        <button type="submit" class="c-button secondary button--small">
                            {{lang 'common.delete' }}
                        </button>
                    </form>
                </div>
            </div>
        </li>
    {{/each}}
    <li>
        <a href="{{urls.account.add_address}}">
            <span class="address-symbol">&plus;</span>
            {{lang 'account.addresses.new_address' }}
        </a>
    </li>
</ul>
