<div class="font-bold">
    {{lang 'account.messages.heading' }}
</div>

<ul class="flex gap-4">
    {{#each messages}}
        <li class="js-account-list-item {{#unless unread}} is-read{{/unless}} max-w-1/3">
            <time class="italic">
                {{date}}
            </time>
            <div class="mb-4">
                {{subject}}
            </div>
            <p>
                {{#if is_reply}}
                    {{lang 'account.messages.merchant_said' store_name=../settings.store_name}}
                {{else}}
                    {{lang 'account.messages.customer_said'}}
                {{/if}}
                {{message}}
            </p>
        </li>
    {{/each}}
</ul>
