<div>
    {{lang 'account.messages.heading' }}
</div>

<ul>
    {{#each messages}}
    <li class="{{#unless unread}} is-read{{/unless}}">
        <time>
            {{date}}
        </time>
        <div>
            {{subject}}
        </div>
        <p>
            {{#if is_reply}}
                {{lang 'account.messages.merchant_said' store_name=../settings.store_name}}
            {{else}}
                {{lang 'account.messages.customer_said'}}
            {{/if}}
            {{message}}
        </p>
    </li>
    {{/each}}
</ul>
