<div class="font-bold">
    {{lang 'account.orders.details.order_contents'}}
</div>

<ul class="my-4">
    {{#each order.items}}
        {{#if shipping_rows.length}}
            {{#each shipping_rows}}
                {{#if is_shipping}}
                    <li>
                        <div>
                            {{lang 'account.orders.details.ship_to_multi' street=address city=city state=state zip=zip country=country}}
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        {{/if}}

        <li class="js-account-list-item">
            <div>
                <div>
                    {{#if show_reorder}}
                        <input type="checkbox" id="account-product-id-{{order_product_id}}" value="{{order_product_id}}">
                        <label for="account-product-id-{{order_product_id}}">
                            <span class="u-hidden-visually">
                                {{!-- todo: make this translatable --}}
                                Checkbox {{order_product_id}} label
                            </span>
                        </label>
                    {{/if}}
                </div>
                <figure class="w-48">
                    {{#if type '===' 'giftcertificate'}}
                        <img src="{{cdn ../theme_settings.default_image_gift_certificate}}" alt="">
                    {{else}}
                        {{> components/common/image
                            image=image
                            fallback_size=../theme_settings.productthumb_size
                            default_image=../theme_settings.default_image_product
                        }}
                    {{/if}}
                    {{#unless refunded}}
                        {{#if download_url}}
                            <a href="{{download_url}}" class="c-button c-button--primary underline">
                                <span class="u-hidden-visually">
                                    {{lang 'account.orders.details.download_items'}}
                                </span>
                                <svg>
                                    <use href="#icon-arrow-down"></use>
                                </svg>
                            </a>
                        {{/if}}
                    {{/unless}}
                </figure>
                <div>
                    <span class="font-bold">
                        {{price.formatted}}
                    </span>
                    <div class="mb-4">
                        {{quantity}} &#215; {{name}}
                    </div>
                    {{#if brand}}
                        <div>
                            {{brand.name}}
                        </div>
                    {{/if}}
                    {{#if options}}
                        <dl class="grid grid-cols-2 gap-2">
                            {{#each options}}
                                <dt>
                                    {{name}}:
                                </dt>
                                <dd>
                                    {{> components/common/product-options}}
                                </dd>
                            {{/each}}
                        </dl>
                    {{/if}}
                    {{#if gift_wrapping_name}}
                        <dl class="grid grid-cols-2 gap-2">
                            <dt>
                                {{lang 'account.orders.gift_wrapping'}}
                            </dt>
                            <dd>
                                {{gift_wrapping_name}}
                            </dd>
                        </dl>
                    {{/if}}
                    {{#if event_date}}
                        <dl class="grid grid-cols-2 gap-2">
                            <dt>
                                {{event_date.name}}:
                            </dt>
                            <dd>
                                {{event_date.date}}
                            </dd>
                        </dl>
                    {{/if}}
                    {{#if refunded}}
                        <p>
                            {{lang 'account.orders.refunded_quantity' qty=refunded_qty}}
                        </p>
                    {{else}}
                        {{#if refunded_qty}}
                            <p>
                                {{lang 'account.orders.refunded_quantity' qty=refunded_qty}}
                            </p>
                        {{/if}}
                    {{/if}}
                    {{#if reorder_message}}
                        <p>
                            {{{reorder_message}}}
                        </p>
                    {{/if}}
                </div>
            </div>
        </li>
    {{/each}}
</ul>
