{{!-- 
    @TODO: Remove asap. 
    I know this is ugly, but I didn't find any better way to get missing information :(  
--}}
{{inject 'storefrontApiToken' settings.storefront_api.token}} 

<h3>
    {{lang 'account.orders.details.order_contents'}}
</h3>

<ul class="o-grid o-grid--space-small o-grid--cols-1 o-grid--cols-2@small o-grid--cols-3@large">
    {{#each order.items}}
        {{#if shipping_rows.length}}
            {{#each shipping_rows}}
                {{#if is_shipping}}
                    <li class="o-grid__item--col-full">
                        <div class="o-box o-box--neutrals-50">
                            {{lang 'account.orders.details.ship_to_multi' street=address city=city state=state zip=zip country=country}}
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        {{/if}}

        <li class="js-account-list-item">
            {{#unless refunded}}
                {{#if download_url}}
                    <a href="{{download_url}}" class="c-button c-button--primary">
                        <span class="u-hidden-visually">
                            {{lang 'account.orders.details.download_items'}}
                        </span>
                        <svg>
                            <use href="#icon-arrow-down"></use>
                        </svg>
                    </a>
                {{/if}}
            {{/unless}}

            {{!-- @TODO: We don't have properly handled reordering only selected products, so I'm not passing show_reorder yet  --}}
            {{> components/products/card-order id=order_product_id theme_settings=../theme_settings hide_compare=true price=price }}
        </li>
    {{/each}}
</ul>
