{{#if orders.length ">" 0}}
    <ul class="o-grid o-grid--space-small o-grid--cols-1 o-grid--cols-2@medium o-grid--cols-3@large c-orders-list">
        {{#each orders}}
            <li class="js-account-list-item c-orders-list__item">
                    {{#if ../settings.returns_enabled}}
                        {{#if this.return_url}}
                            <div>
                                <a href="{{this.return_url}}">
                                    <span></span>
                                    {{lang 'account.orders.return_items' }}
                                </a>
                            </div>
                        {{/if}}
                    {{/if}}
                
                <h2 class="o-text--l">
                    <a href="{{this.details_url}}">
                        {{lang 'account.orders.list.order_number' number=this.id}}
                    </a>
                </h2>

                <div>
                    <div class="c-orders-list__prop">
                        <strong class="o-text--s">Status:</strong>
                        <div class="o-text--s o-text--bold c-orders-list__status">
                            {{this.status}}
                        </div>
                    </div>

                    <div class="c-orders-list__prop">
                        <strong class="o-text--s">{{lang 'account.orders.details.order_total'}}</strong>
                        <span class="o-text--s o-text--bold">{{this.total.formatted}}</span>
                    </div>

                    <div class="c-orders-list__prop">
                        <strong class="o-text--s">{{lang 'account.orders.order_placed' }}:</strong>
                        <time class="o-text--s o-text--bold">
                            {{this.date}}
                        </time>
                    </div>

                    <div class="c-orders-list__prop">
                        <strong class="o-text--s">{{lang 'account.orders.last_update' }}:</strong>
                        <time class="o-text--s o-text--bold">
                            {{this.last_update_date}}
                        </time>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p class="c-orders-list__announcement">
            <svg class="c-orders-list__announcement-icon"><use xlink:href="#icon-info"/></svg>
        <span class="o-text--m">{{lang "account.orders.none"}}</span>
    </p>
{{/if}}

