<div>
    {{lang 'account.returns.heading'}}
</div>

<ul>
    {{#each returns}}
        <li>
            <div>
                <div>
                    {{> components/common/image
                        image=product.image
                        fallback_size=../theme_settings.product_thumb_size
                    }}
                </div>
                <div>
                    {{#if status '===' 'ReturnStatusPending'}}
                        <div>
                            {{lang 'account.returns.status.pending'}}
                        </div>
                    {{else if status '===' 'ReturnStatusReceived'}}
                        <div>
                            {{lang 'account.returns.status.received'}}
                        </div>
                    {{else if status '===' 'ReturnStatusAuthorized'}}
                        <div>
                            {{lang 'account.returns.status.authorized'}}
                        </div>
                    {{else if status '===' 'ReturnStatusRepaired'}}
                        <div>
                            {{lang 'account.returns.status.repaired'}}
                        </div>
                    {{else if status '===' 'ReturnStatusRefunded'}}
                        <div>
                            {{lang 'account.returns.status.refunded'}}
                        </div>
                    {{else if status '===' 'ReturnStatusRejected'}}
                        <div>
                            {{lang 'account.returns.status.rejected'}}
                        </div>
                    {{else if status '===' 'ReturnStatusCancelled'}}
                        <div>
                            {{lang 'account.returns.status.cancelled'}}
                        </div>
                    {{/if}}
                </div>

                <div>
                    {{lang 'account.returns.list.return_number' id=id}}
                </div>
                <div>
                    {{lang 'account.returns.list.product_details' num_products=quantity}} <a href="{{product.url}}">{{product.name}}</a>
                </div>

                {{#if product.options}}
                    <dl>
                        {{#each product.options}}
                            <dt>
                                {{name}}:
                            </dt>
                            <dd>
                                {{> components/common/product-options}}
                            </dd>
                        {{/each}}
                    </dl>
                {{/if}}

                <div>
                    <div>
                        <div>
                            {{lang 'account.returns.date_requested'}}
                        </div>
                        <span>
                            {{date_requested}}
                        </span>
                    </div>
                    <div>
                        <div>
                            {{lang 'account.returns.action'}}
                        </div>
                        <span>
                            {{action}}
                        </span>
                    </div>
                    <div>
                        <div>
                            {{lang 'account.returns.reason'}}
                        </div>
                        <span>{{reason}}</span>
                    </div>
                    {{#if comments}}
                        <div>
                            <div>
                                {{lang 'account.returns.comments'}}
                            </div>
                            <span>
                                {{comments}}
                            </span>
                        </div>
                    {{/if}}
                </div>
            </div>
        </li>
    {{/each}}
</ul>
