<table>
    <thead>
        <tr>
            <th>
                {{lang 'account.wishlists.name'}}
            </th>
            <th>
                {{lang 'account.wishlists.num_items'}}
            </th>
            <th>
                {{lang 'account.wishlists.shared'}}
            </th>
            <th>
                {{lang 'account.wishlists.action'}}
            </th>
        </tr>
    </thead>
    <tbody>
    {{#each customer.wishlists}}
        <tr>
            <td>
                <a href="{{view_url}}">
                    {{name}}
                </a>
            </td>
            <td>
                {{num_items}}
            </td>
            <td>
                {{#if is_public }}
                    {{lang 'common.yes'}}
                {{else}}
                    {{lang 'common.no'}}
                {{/if}}
            </td>
            <td>
                <form method="post" action="{{delete_url}}">
                    {{#if is_public}}
                        <a href="{{share_url}}" class="c-button c-button--primary button--small" role="button">
                            {{lang 'common.share'}}
                        </a>
                    {{/if}}
                    <a href="{{edit_url}}" class="c-button button--small" data-wishlist>
                        {{lang 'common.edit'}}
                    </a>
                    <button type="submit" class="c-button button--small" data-wishlist-delete>
                        {{lang 'common.delete'}}
                    </button>
                </form>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form method="post" action="{{this.urls.account.wishlists.delete}}">
    {{#unless customer.wishlists}}
        <div>
            {{> components/common/alert/alert-info (lang 'account.wishlists.you_have_none')}}
        </div>
    {{/unless}}
    <div>
        <a href="{{this.urls.account.wishlists.add}}" class="c-button c-button--primary" role="button" data-wishlist>
            {{lang 'account.wishlists.new'}}
        </a>
        {{inject 'wishlistDelete' (lang 'account.wishlists.delete_alert')}}
        {{#if customer.wishlists}}
            {{#each customer.wishlists}}
                <input type="hidden" value="{{this.id}}" name="deletewishlist[]">
            {{/each}}
            <button type="submit" class="c-button" data-wishlist-delete>
                {{lang 'account.wishlists.delete_all'}}
            </button>
        {{/if}}
    </div>
</form>
