<ul class="o-grid o-grid--cols-2@small o-grid--cols-3@large">
    {{#each wishlist.items}}
        <li class="js-product">
            <div>
                {{> components/products/card-alternate id=product_id theme_settings=../theme_settings}}
            </div>
            
            {{#if ../show_remove}}
                <form action="{{remove_url}}" class="form" method="post">
                    <button type="submit" class="c-button c-button--primary button--small">
                        {{lang 'account.wishlists.remove_item'}}
                    </button>
                </form>
            {{/if}}
        </li>
    {{/each}}
</ul>

{{> components/common/paginator wishlist.pagination}}
