<ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {{#each wishlist.items}}
        <li class="js-product">
            {{> components/products/card id=product_id theme_settings=../theme_settings}}
            
            {{#if ../show_remove}}
                <form action="{{remove_url}}" class="form my-8" method="post">
                    <button type="submit" class="c-button--primary">
                        {{lang 'account.wishlists.remove_item'}}
                    </button>
                </form>
            {{/if}}
        </li>
    {{/each}}
</ul>
{{> components/common/paginator wishlist.pagination}}
