<ul>
    {{#each wishlist.items}}
        <li class="js-product">
            {{> components/products/card-alternate id=product_id theme_settings=../theme_settings}}
            
            {{#if ../show_remove}}
                <form action="{{remove_url}}" class="form" method="post">
                    <button type="submit" class="c-button c-button--primary button--small">
                        {{lang 'account.wishlists.remove_item'}}
                    </button>
                </form>
            {{/if}}
        </li>
    {{/each}}
</ul>
{{> components/common/paginator wishlist.pagination}}
