<div id="alert-modal" class="is-modal-small js-prevent-quick-search-close js-reveal">
    <div class="js-alert-icon js-error-icon">
        <span>
        </span>
    </div>

    <div class="js-alert-icon js-warning-icon">
        <div>!</div>
    </div>

    <div class="js-modal-content"></div>

    <div>
        <button type="button" class="js-confirm c-button js-reveal-close">
            {{lang 'common.ok'}}
        </button>
        <button type="button" class="js-cancel c-button js-reveal-close">
            {{lang 'common.cancel'}}
        </button>
    </div>
</div>
