<div class="is-modal-small js-reveal js-prevent-quick-search-close js-alert-modal">
    <div class="is-alert-icon is-error-icon">
        <span>
            <span></span>
            <span></span>
        </span>
    </div>

    <div class="is-alert-icon is-warning-icon">
        <div>!</div>
    </div>

    <div class="js-modal-content"></div>

    <div>
        <button type="button" class="is-confirm c-button js-reveal-close">
            {{lang 'common.ok'}}
        </button>
        <button type="button" class="is-cancel c-button js-reveal-close">
            {{lang 'common.cancel'}}
        </button>
    </div>
</div>
