<div
    class="pointer-events-none absolute top-1/2 z-10 hidden w-full justify-between lg:flex [&_.swiper-button-disabled]:cursor-not-allowed [&_.swiper-button-disabled]:opacity-20"
>
    <div class="js-swiper-btn-prev pointer-events-auto cursor-pointer border border-black px-3 py-1 hover:bg-black hover:text-white">Previous</div>
    <div
        class="js-swiper-btn-next pointer-events-auto ml-auto cursor-pointer border border-black px-3 py-1 hover:bg-black hover:text-white [&_.swiper-button-disabled]:cursor-not-allowed [&_.swiper-button-disabled]:opacity-20"
    >
        Next
    </div>
</div>
