@mixin block-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin list-unstyle {
  margin: 0;
  list-style: none;
}

// Rem Calculations
// -----------------------------------------------------------------------------

@function stripUnit($num) {
    @return $num / ($num * 0 + 1);
}

// scss-lint:disable ZeroUnit
@function convertToRem($value, $base-value: $fontSize-base) {
    $value: stripUnit($value) / stripUnit($base-value) * 1rem;
    @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
    @return $value;
}

@function remCalc($values, $base-value: $font-size-root) {

    $max: length($values);

    @if $max == 1 { @return convertToRem(nth($values, 1), $base-value); }

    $remValues: ();

    @for $i from 1 through $max {
        $remValues: append($remValues, convertToRem(nth($values, $i), $base-value));
    }

    @return $remValues;
}
