{{!-- 
==========================================================================
 ALL COMPONENTS

 A demo for all store components
========================================================================== 
--}}

<div class="mx-auto max-w-desktop mb-10">
    <hr>

    <h2 class="font-bold text-2xl text-center mt-4 mb-8">All Custom Components</h2>
    {{!-- BUTTONS --}}
    <section>
        <strong class="my-8 uppercase">Buttons</strong>
        <br>
        <div class="py-4 grid md:grid-cols-4 gap-4">
            <div>
                <strong class="block mb-2">Primary</strong>

                <button class="c-button--primary">
                    Primary button
                </button>
            </div>

            <div>
                <strong class="block mb-2">Secondary</strong>

                <button class="c-button--secondary">
                    Secondary button
                </button>
            </div>
        </div>

        <strong>Links</strong>
        <div>
            <a href="/" class="c-link">Some link</a>
        </div>
    </section>

    <hr class="mt-4">
</div>
