{{!-- 
==========================================================================
 ALL COMPONENTS

 A demo for all store components
========================================================================== 
--}}

<div class="mx-auto max-w-desktop mb-10">
    <hr>

    <h2 class="font-bold text-2xl text-center mt-4 mb-8">All Custom Components</h2>
    {{!-- BUTTONS --}}
    <section>
        <strong class="my-8 uppercase">Buttons</strong>
        <br>
        <strong>Primary</strong>
        <div class="py-4">
            <button class="c-button--primary">
                Some button
            </button>
        </div>
    </section>

    <hr>
</div>
