<div class="js-form-field" data-product-attribute="input-checkbox">
    <label>
        {{display_name}}:

        {{> components/common/requireness-msg}}
    </label>
    <input type="hidden" name="attribute[{{id}}]" value="{{noValue}}" />
    <div>
        <input
            class="{{#if checked}}js-default{{/if}}"
            type="checkbox"
            name="attribute[{{id}}]"
            id="attribute-check-{{id}}"
            value="{{value}}"
            {{#if checked}}
                checked
            {{/if}}
            {{#if required}}
                required
            {{/if}}
        >

        <label class="form-label {{class}}" for="attribute-check-{{id}}">
            {{label}}
        </label>
    </div>
</div>
