<div class="js-form-field" data-product-attribute="input-checkbox">
    <label>
        <span class="font font-bold uppercase">{{display_name}}:</span>

        {{> components/common/requireness-msg}}
    </label>
    <input type="hidden" name="attribute[{{id}}]" value="{{noValue}}" />

    <div class="mt-2 mb-4">
        <input
            class="{{#if checked}}js-default{{/if}}"
            type="checkbox"
            name="attribute[{{id}}]"
            id="attribute-check-{{id}}"
            value="{{value}}"
            {{#if checked}}
                checked
            {{/if}}
            {{#if required}}
                required
            {{/if}}
        >

        <label class="form-label {{class}} ml-2" for="attribute-check-{{id}}">
            {{label}}
        </label>
    </div>
</div>
