<div class="js-form-field" data-product-attribute="input-file">
    <label for="attribute_file_{{id}}" class="block">
        <span class="font font-bold uppercase">{{ this.display_name }}:</span>

        {{> components/common/requireness-msg}}
    </label>

    <input 
        type="file"
        id="attribute_file_{{id}}" 
        name="attribute[{{this.id}}]" 
        {{#if required}}
            required
        {{/if}}
    >

    {{#if original_name}}
        {{{lang 'products.file_option_set' url=file_url name=original_name}}}
        <label>
            {{lang 'cart.remove_file'}}
            <input 
                type="checkbox" 
                name="{{file_remove}}"
            >
        </label>
    {{/if}}

    <p class="mb-4 ,t-2">
        {{#if file_size}}
            {{lang 'products.max_filesize'}}
            <strong>
                {{file_size}}{{lang 'products.kilobytes_abbreviation'}}
            </strong>,
        {{/if}}

        {{#if file_types}}
            {{lang 'products.filetypes'}} 
            <strong>{{file_types}}</strong>
        {{/if}}
    </p>
</div>
