<div class="js-form-field" data-product-attribute="input-number">
    <label for="attribute_number_{{id}}" class="block">
        <span class="font font-bold uppercase">{{ this.display_name }}:</span>

        {{> components/common/requireness-msg}}
    </label>

    <input 
        class="js-form-input mt-2 mb-4" 
        type="number" 
        id="attribute_number_{{id}}" 
        {{#unless this.integer_only}}
            step="any"
        {{/unless}} 
        name="attribute[{{this.id}}]" 
        value="{{this.prefill}}" 
        {{#if required}}
            required
        {{/if}}
    >
</div>
