<div class="js-form-field" data-product-attribute="input-file">
    <label class="c-form__label" for="attribute_file_{{id}}">
        {{ this.display_name }}
        {{> components/common/requireness-msg}}
    </label>

    <input 
        type="file"
        id="attribute_file_{{id}}" 
        name="attribute[{{this.id}}]" 
        {{#if required}}
            required
        {{/if}}
    >

    {{#if original_name}}
        {{{lang 'products.file_option_set' url=file_url name=original_name}}}
        <input 
            class="c-form__checkbox-input"
            type="checkbox" 
            name="{{file_remove}}"
        >
        <label class="c-form__checkbox-label">{{lang 'cart.remove_file'}}</label>
    {{/if}}
    <p>
        {{#if file_size}}
            {{lang 'products.max_filesize'}}
            <strong>
                {{file_size}}{{lang 'products.kilobytes_abbreviation'}}
            </strong>,
        {{/if}}

        {{#if file_types}}
            {{lang 'products.filetypes'}} 
            <strong>{{file_types}}</strong>
        {{/if}}
    </p>
</div>
