<div class="js-form-field c-form__field" data-product-attribute="input-checkbox">
    <label class="c-form__label">
        {{ display_name }}
        {{> components/common/requireness-msg}}
    </label>
    <input type="hidden" name="attribute[{{id}}]" value="{{noValue}}" />
    <div>
        <input
            class="{{#if checked}}js-default{{/if}} c-form__input"
            type="checkbox"
            name="attribute[{{id}}]"
            id="attribute-check-{{id}}"
            value="{{value}}"
            {{#if checked}}
                checked
            {{/if}}
            {{#if required}}
                required
            {{/if}}
        >

        <label class="c-form__label form-label {{class}}" for="attribute-check-{{id}}">
            {{label}}
        </label>
    </div>
</div>
