<div 
    class="js-form-field" 
    data-product-attribute="js-product-list" 
    role="radiogroup" 
    aria-labelledby="product-list-label"
>
    <label id="product-list-label" class="block mb-2">
        <span class="font font-bold uppercase">{{display_name}}:</span>
        <span class="js-option-value"></span>

        {{> components/common/requireness-msg}}
    </label>

    {{#if values.0.image}}
        <ul class="mt-2 mb-4">
            {{#unless required}}
                <li class="flex gap-2 items-center">
                    <input
                        type="radio"
                        name="attribute[{{id}}]"
                        value=""
                        id="attribute_productlist_{{id}}_none"
                        {{#unless defaultValue}}
                            checked
                        {{/unless}}
                    >
                    <label for="attribute_productlist_{{id}}_none">
                        {{lang 'products.none'}}
                    </label>
                </li>
            {{/unless}}
            {{#each values}}
                <li data-product-attribute-value="{{id}}" class="flex gap-2 items-center">
                    {{#if image}}
                        <figure>
                            {{> components/common/image
                                image=image
                                class="w-6 h-6"
                            }}
                        </figure>
                    {{/if}}
                    <div class="flex items-center gap-2">
                        <input
                            class="{{#if selected}}js-default{{/if}}"
                            type="radio"
                            name="attribute[{{../id}}]"
                            value="{{id}}"
                            id="attribute_productlist_{{../id}}_{{id}}"
                            {{#if selected}}
                                checked
                            {{/if}}
                            {{#if ../required}}
                                required
                            {{/if}}
                        >
                        <label data-product-attribute-value="{{id}}" for="attribute_productlist_{{../id}}_{{id}}">
                            {{label}}
                        </label>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        {{#unless required}}
            <input
                type="radio"
                name="attribute[{{id}}]"
                value="0"
                id="attribute_productlist_0_{{id}}"
                {{#unless defaultValue}}
                    checked
                {{/unless}}
            >
            <label for="attribute_productlist_0_{{id}}">
                {{lang 'products.none'}}
            </label>
        {{/unless}}
        {{#each values}}
            <input
                class="{{#if selected}}js-default{{/if}}"
                type="radio"
                name="attribute[{{../id}}]"
                value="{{id}}"
                id="attribute_productlist_{{../id}}_{{id}}"
                {{#if selected}}
                    checked
                {{/if}}
                {{#if ../required}}
                    required
                {{/if}}
            >
            <label data-product-attribute-value="{{id}}" for="attribute_productlist_{{../id}}_{{id}}">
                {{label}}
            </label>
        {{/each}}
    {{/if}}
</div>
