<div class="js-form-field" data-product-attribute="set-select">
    <label for="attribute_select_{{id}}">
        {{ this.display_name }}:

        {{> components/common/requireness-msg}}
    </label>

    <select name="attribute[{{this.id}}]" id="attribute_select_{{id}}" {{#if required}}required{{/if}}>
        <option value="">
            {{lang 'products.choose_options'}}
        </option>
        {{#each this.values}}
            <option 
                class="{{#if selected}}js-default{{/if}}"
                data-product-attribute-value="{{id}}" 
                value="{{id}}" 
                {{#if selected}}selected{{/if}}>
                {{label}}
            </option>
        {{/each}}
    </select>
</div>
