<div 
    class="js-form-field flex flex-wrap items-center gap-2 mt-2 mb-4" 
    data-product-attribute="set-rectangle" 
    role="radiogroup" 
    aria-labelledby="rectangle-group-label"
>
    <label id="rectangle-group-label" class="w-full">
        <span class="font font-bold uppercase">{{this.display_name}}:</span>
        <span class="js-option-value"></span>

        {{> components/common/requireness-msg}}
    </label>

    {{#unless required}}
        <input
            type="radio"
            id="attribute_rectangle__{{id}}_none"
            name="attribute[{{id}}]"
            value=""
            checked="{{#if defaultValue '==' ''}}checked{{/if}}"
        >
        <label for="attribute_rectangle__{{id}}_none">
            <span>{{lang 'products.none'}}</span>
        </label>
    {{/unless}}
   
    {{#each this.values}}
        <div class="shadow-current flex items-center">    
            <input
                class="{{#if selected}}js-default{{/if}} mr-2"
                type="radio"
                id="attribute_rectangle__{{../id}}_{{id}}"
                name="attribute[{{../id}}]"
                value="{{id}}"
                {{#if selected}}
                    checked
                {{/if}}
                {{#if ../required}}
                    required
                {{/if}}
            >
            <label for="attribute_rectangle__{{../id}}_{{id}}" data-product-attribute-value="{{id}}">
                <span>{{this.label}}</span>
            </label>
        </div>
    {{/each}}
</div>
