<div 
    class="js-form-field c-form__field" 
    data-product-attribute="set-rectangle" 
    role="radiogroup" 
    aria-labelledby="rectangle-group-label"
>
    <label class="c-form__label" id="rectangle-group-label">
        {{this.display_name}}:
        <span class="js-option-value"></span>

        {{> components/common/requireness-msg}}
    </label>

    {{#unless required}}
        <input
            class="c-form__radio-input"
            type="radio"
            id="attribute_rectangle__{{id}}_none"
            name="attribute[{{id}}]"
            value=""
            checked="{{#if defaultValue '==' ''}}checked{{/if}}"
        >
        <label class="c-form__radio-label" for="attribute_rectangle__{{id}}_none">
            <span>{{lang 'products.none'}}</span>
        </label>
    {{/unless}}

    {{#each this.values}}
        <div class="c-radio__item">    
            <input
                class="{{#if selected}}js-default{{/if}} c-form__radio-input"
                type="radio"
                id="attribute_rectangle__{{../id}}_{{id}}"
                name="attribute[{{../id}}]"
                value="{{id}}"
                {{#if selected}}
                    checked
                {{/if}}
                {{#if ../required}}
                    required
                {{/if}}
            >
            <label 
                class="c-form__radio-label" 
                for="attribute_rectangle__{{../id}}_{{id}}" 
                data-product-attribute-value="{{id}}"
            >
                <span>{{this.label}}</span>
            </label>
        </div>
    {{/each}}
</div>
