<div 
    class="js-form-field" 
    data-product-attribute="set-radio" 
    role="radiogroup" 
    aria-labelledby="radio-group-label-{{id}}"
>
    <label id="radio-group-label-{{id}}" class="block">
        <span class="font font-bold uppercase">{{ this.display_name }}:</span>

        {{> components/common/requireness-msg}}
    </label>

    {{#unless required}}
        <input
            type="radio"
            id="attribute_radio_{{id}}_none"
            name="attribute[{{id}}]"
            value=""
            checked="{{#if defaultValue '==' ''}}checked{{/if}}"
        >
        <label for="attribute_radio_{{id}}_none">
            {{lang 'products.none'}}
        </label>
    {{/unless}}

    {{#each this.values}}
        <input
            class="{{#if selected}}js-default{{/if}}"
            type="radio"
            id="attribute_radio_{{../id}}_{{id}}"
            name="attribute[{{../id}}]"
            value="{{id}}"
            {{#if selected}}
                checked
            {{/if}}
            {{#if ../required}}
                required
            {{/if}}
        >
        <label data-product-attribute-value="{{id}}" for="attribute_radio_{{../id}}_{{id}}" class="my-4 ml-2 mr-4">
            {{this.label}}
        </label>
    {{/each}}
</div>
