<div class="js-form-field mb-4" data-product-attribute="textarea">
    <label for="attribute_textarea_{{id}}" class="block mb-2">
        <span class="font font-bold uppercase">{{display_name}}:</span>

        {{> components/common/requireness-msg}}
    </label>

    <textarea 
        class="js-form-input" 
        id="attribute_textarea_{{id}}" 
        name="attribute[{{id}}]" 
        {{#if required}}
            required
        {{/if}} 
        {{#if max_length}}
            maxlength={{max_length}}
        {{/if}}
    >
        {{prefill}}
    </textarea>
</div>
