<div class="js-form-field c-form__field" data-product-attribute="textarea">
    <label class="c-form__label" for="attribute_textarea_{{id}}">
        {{ this.display_name }}
        {{> components/common/requireness-msg}}
    </label>

    <textarea 
        class="js-form-input c-form__input--textarea" 
        id="attribute_textarea_{{id}}" 
        name="attribute[{{id}}]" 
        {{#if required}}
            required
        {{/if}} 
        {{#if max_length}}
            maxlength={{max_length}}
        {{/if}}
    >
        {{prefill}}
    </textarea>
</div>
