// =============================================================================
// THEME
// =============================================================================

@import 'settings/settings';
@import 'tools/tools';
@import 'generic/generic';
@import 'elements/elements';
@import 'vendor/vendor';
@import 'objects/objects';
@import 'components/components';
@import 'utilities/utilities';
@import 'widgets/widgets';

// temporary styles
// todo: remove later

.container {
    margin-inline: auto;
    max-width: 72rem;
}

@media (min-width: 60rem) {
    .grid {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-item-1-4 {
        grid-column: span 1 / span 4;
    }

    .grid-item-1-2 {
        grid-column: span 1 / span 2;
    }

    .grid-item-3-4 {
        grid-column: span 3 / span 4;
    }
}

svg {
    max-height: 2rem;
    max-width: 2rem;
}
