
/* ==========================================================================
   #CATEGORY
   ========================================================================== */

.c-category {
    @include container();

    display: grid;
    grid-template-columns: 300px auto;
    gap: rem-calc(20px);
}
