{{#partial "page"}}
<section class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 my-8">
        {{#if settings.show_wishlist}}
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            
            <div class="font-bold text-3xl">
                {{#if forms.wishlist.id}}
                    {{lang 'account.wishlists.edit'}}
                {{else}}
                    {{#if forms.wishlist.action}}
                        {{lang 'account.wishlists.new'}}
                    {{else}}
                        {{lang 'account.wishlists.heading'}}
                    {{/if}}
                {{/if}}
            </div>
            
            {{> components/account/navigation account_page='wishlists'}}
            {{> components/account/add-wishlist}}
        {{/if}}
    </div>
</section>
{{/partial}}
{{> layout/base}}
