{{#partial "title"}}
    <h1 class="o-heading o-heading--l">
        {{#if forms.wishlist.id}}
            {{lang 'account.wishlists.edit'}}
        {{else}}
            {{#if forms.wishlist.action}}
                {{lang 'account.wishlists.new'}}
            {{else}}
                {{lang 'account.wishlists.heading'}}
            {{/if}}
        {{/if}}
    </h1>
{{/partial}}

{{#partial "navigation"}}
    {{> components/account/navigation account_page='wishlists'}}
{{/partial}}

{{#partial "page"}}
    {{> components/account/add-wishlist}}

{{/partial}}
{{> layout/account}}
