{{#partial "page"}}
<section class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 my-8">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        <h1 class="font-bold text-3xl">
            {{lang 'account.returns.new_return' }}
        </h1>

        {{> components/account/navigation account_page='returns'}}

        <div>
            <div>
                <section>
                    <div>
                        {{lang 'account.returns.from_order' id=forms.return.order_id}}
                    </div>

                    {{#if forms.return.order_products.length}}
                        <form
                            action="{{urls.account.orders.save_new_return}}"
                            method="post"
                            data-account-return-form-error="{{lang 'account.returns.error_no_qty'}}"
                            class="js-account-return-form"
                        >
                            <fieldset class="js-form-fieldset">
                                <input type="hidden" name="order_id" value="{{forms.return.order_id}}">
                                <div>
                                    <div>
                                        <div>{{lang 'account.orders.return.order_item'}}</div>
                                        <div>{{lang 'account.orders.return.item_price'}}</div>
                                        <div>{{lang 'account.orders.return.quantity'}}</div>
                                    </div>
                                </div>
                                <div>
                                    {{#each forms.return.order_products}}
                                        <div>
                                            <div>
                                                <span>{{name}}</span>
                                                {{#if options}}
                                                    <dl>
                                                        {{#each options}}
                                                            <dt>{{name}}:</dt>
                                                            <dd>{{{sanitize value}}}</dd>
                                                        {{/each}}
                                                    </dl>
                                                {{/if}}
                                            </div>
                                            <div>{{price.formatted}}</div>
                                            <div>
                                                <label>
                                                    {{lang 'account.orders.return.quantity'}}:
                                                </label>
                                                <select name="return_qty[{{id}}]">
                                                    {{#for 0 quantity}}
                                                        <option value="{{$index}}">
                                                            {{$index}}
                                                        </option>
                                                    {{/for}}
                                                </select>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </fieldset>
                            <div>
                                <fieldset class="js-form-fieldset">
                                    <div class="js-form-field">
                                        <label for="return_reason">
                                            {{lang 'account.orders.return.reason'}}
                                            <small>
                                                {{lang 'common.required'}}
                                            </small>
                                        </label>
                                        <select name="return_reason" id="return_reason">
                                            {{#each forms.return.reasons}}
                                                <option value="{{this}}">
                                                    {{this}}
                                                </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="js-form-field">
                                        <label for="return_action">
                                            {{lang 'account.orders.return.action'}}
                                        </label>
                                        <select name="return_action" id="return_action">
                                            {{#each forms.return.actions}}
                                                <option value="{{this}}">
                                                    {{this}}
                                                </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset class="js-form-fieldset">
                                    <div class="js-form-field">
                                        <label for="return_comments">
                                            {{lang 'account.orders.return.comments'}}
                                        </label>
                                        <textarea 
                                            class="js-form-input" 
                                            rows="8" 
                                            name="return_comments" 
                                            id="return_comments"
                                        ></textarea>
                                    </div>
                                </fieldset>
                            </div>
                            <div>
                                <button class="c-button c-button--primary" type="submit">
                                    Submit Return Request"
                                </button> 
                            </div>
                        </form>
                    {{else}}
                        <p>
                            {{lang 'account.orders.return.already_returned'}}
                        </p>
                        <a href="{{urls.account.orders.all}}" class="c-button">
                            {{lang 'account.orders.return.back_button'}}
                        </a>
                    {{/if}}

                </section>
            </div>
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
