{{#partial "title"}}
    <h1 class="o-heading o-heading--l">
        {{lang 'account.addresses.heading' }}
    </h1>
{{/partial}}

{{#partial "navigation"}}
    {{> components/account/navigation account_page='addresses'}}
{{/partial}}

{{#partial "page"}}
    {{#if customer.error}}
        {{>components/common/alert/alert-error customer.error}}
    {{/if}}
    {{#if customer.success}}
        {{>components/common/alert/alert-success customer.success}}
    {{/if}}
    {{> components/account/address-list }}
{{/partial}}
{{> layout/account}}
