{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    
    <div>
        {{lang 'account.addresses.heading' }}
    </div>
    
    {{> components/account/navigation account_page='addresses'}}

    <div>
        <div>
            {{#if customer.error}}
                {{>components/common/alert/alert-error customer.error}}
            {{/if}}
            {{#if customer.success}}
                {{>components/common/alert/alert-success customer.success}}
            {{/if}}
            {{> components/account/address-list }}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
