{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    
    <div>
        {{lang 'account.orders.downloads.heading' number=downloads.order_id}}
    </div>
    
    {{> components/account/navigation account_page='orders'}}

    <div>
        <div>
            <figure>
                {{#each downloads.images}}
                    <img 
                        src="{{getImage this}}" 
                        alt="{{../downloads.product_name}}" 
                        title="{{../downloads.product_name}}"
                    />
                    
                    <figcaption>{{../downloads.product_name}}</figcaption>
                {{/each}}
            </figure>

            <section>
                <p>
                    {{lang 'account.orders.downloads.download_files_below'}} <strong>{{downloads.product_name}}</strong>
                </p>

                <ul>
                    {{#each downloads.items}}
                        <li>
                            {{#if expired}}
                                <div>
                                    {{name}} <span>({{size}})</span>
                                </div>
                                <p>
                                    {{lang 'account.orders.downloads.expired_content'}}
                                </p>
                            {{else}}
                                <div>
                                    <a href="{{url}}">{{name}}</a> ({{size}})
                                </div>

                                {{#if description}}
                                    <p>{{description}}</p>
                                {{/if}}

                                {{#if days_remaining}}
                                    <p>
                                        {{lang 'account.orders.downloads.days_remaining' number=days_remaining}}

                                        {{#if downloads_remaining}}
                                            {{lang 'account.orders.downloads.days_or_downloads' number=downloads_remaining}}
                                        {{/if}}
                                        {{lang 'account.orders.downloads.remaining'}}
                                    </p>
                                {{else}}
                                    {{#if downloads_remaining}}
                                        <p>
                                            {{lang 'account.orders.downloads.downloads_remaining' number=downloads_remaining}}
                                        </p>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    </div>

{{/partial}}
{{> layout/base}}
