{{#partial "title"}}
    <h1 class="o-heading o-heading--l">
        {{lang 'account.settings.heading' }}
    </h1>
{{/partial}}

{{#partial "navigation"}}
    {{> components/account/navigation account_page='settings'}}
{{/partial}}

{{#partial "page"}}
    {{#if forms.edit_account.error}}
        {{> components/common/alert/alert-error forms.edit_account.error}}
    {{/if}}

    {{#if forms.edit_account.success}}
        {{> components/common/alert/alert-success forms.edit_account.success}}
    {{/if}}
    
    {{> components/account/edit-account}}

{{/partial}}
{{> layout/account}}
