{{#partial "page"}}
<div>
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    
    <div>
        {{lang 'account.recent_items.heading' }}
    </div>
    
    {{> components/account/navigation account_page='recent_items'}}

    {{#unless customer.recently_viewed_products.items}}
        {{> components/common/alert/alert-info (lang 'account.recent_items.no_items')}}
    {{/unless}}

    <div>
        {{> components/products/grid products=customer.recently_viewed_products.items show_compare=customer.recently_viewed_products.show_compare}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
