{{#partial "title"}}
    <h1 class="o-heading o-heading--l">
        {{lang 'account.recent_items.heading' }}
    </h1>
{{/partial}}

{{#partial "navigation"}}
    {{> components/account/navigation account_page='recent_items'}}
{{/partial}}

{{#partial "page"}}
    {{#unless customer.recently_viewed_products.items}}
        {{> components/common/alert/alert-info (lang 'account.recent_items.no_items')}}
    {{/unless}}

    <div>
        {{> components/products/grid products=customer.recently_viewed_products.items show_compare=customer.recently_viewed_products.show_compare}}
    </div>

{{/partial}}
{{> layout/account}}
