{{#partial "page"}}
<div>
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    
    <div>
        {{lang 'account.returns.heading'}}
    </div>
    
    {{> components/account/navigation account_page='returns'}}
    
    <div>
        <p>
            {{lang 'account.returns.successful'}}
        </p>
        {{#if return.instructions}}
            <strong>{{lang 'account.returns.instructions'}}</strong>
            <p>{{nl2br return.instructions}}</p>
        {{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
