{{#partial "page"}}
<section class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 mt-8 mb-14">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        {{/unless}}
        
        <div class="font-bold text-3xl py-4">
            {{lang 'account.returns.heading'}}
        </div>
        
        {{> components/account/navigation account_page='returns'}}
        
        <div>
            <p>
                {{lang 'account.returns.successful'}}
            </p>
            {{#if return.instructions}}
                <strong>{{lang 'account.returns.instructions'}}</strong>
                <p>{{nl2br return.instructions}}</p>
            {{/if}}
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
