{{#partial "page"}}
<div class="js-pagination-wishlist">
    {{#if wishlist.is_editable}}
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{/if}}

    <div>
        {{lang 'account.wishlists.view_heading' name=wishlist.name}}
    </div>
    
    {{#if wishlist.is_editable}}
        {{> components/account/navigation account_page='wishlists'}}
    {{/if}}

    {{#if wishlist.is_editable}}
        {{#if wishlist.is_public '>' 0}}
            <div>
                <div>
                    <div>
                        {{lang 'account.wishlists.share_intro'}}
                    </div>
                    <input class="js-form-input" value="{{settings.base_url}}{{wishlist.share_url}}" readonly>
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if wishlist.items}}
        {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
    {{else}}
        {{> components/common/alert/alert-info (lang 'account.wishlists.empty_wishlist')}}
    {{/if}}
</div>
{{/partial}}
{{> layout/base}}
