.c-accordion {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.is-open {
        border-bottom: 1px solid $color-neutrals-75;
        padding-bottom: 0.75rem;
        margin-bottom: 0.75rem;

        .c-accordion__icon {
            transform: rotate(0);
        }
    }
}

.c-accordion__title {
    color: $color-black;
    font-family: $font-semi-bold;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}

.c-accordion__icon {
    transform: rotate(180deg);
}
