.c-blog-article__image {
    border-radius: rem-calc(4px);
}

.c-blog-article__title {
    color: $color-black;
    margin-bottom: 0;
}

.c-blog-article__meta {
    color: $color-neutrals-300;
    margin-top: rem-calc(12px);
}

.c-blog-article__container {
    max-width: rem-calc(780px);
    margin: 0 auto;
}

.c-blog-article__header {
    margin-block: rem-calc(24px);

    @include bp(medium) {
        margin-block: rem-calc(55px);
    }
}
