/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-button {
    background-color: transparent;
    border-color: $color-grey-450;
    border-radius: 4px;
    border-style: solid;
    border-width: rem-calc(1);
    color: $color-medium-grey;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1rem;
    outline: none;
    padding: 0.85714rem 2.28571rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    &:hover,
    &:focus {
        background-color: transparent;
        border-color: $color-grey-615;
        color: $color-dark-grey;
    }
}

/* Style variants
   ========================================================================== */
.c-button-primary {
    background-color: $color-grey-625;
    border-color: $color-grey-625;
    color: $color-white;

    &:hover,
    &:focus {
        background-color: $color-medium-grey;
        border-color: $color-medium-grey;
        color: $color-white;
    }
}
