// /* ==========================================================================
//    #BUTTONS
//    ========================================================================== */

@mixin button_transition() {
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
        transition: all 0.2s ease-in-out;
    }
}

@mixin button_focus($color, $shadow-color) {
    &:focus {
        background: $color;
        box-shadow: 0 0 0 0.25rem $shadow-color;
        color: $color-white;
    }
}

@mixin button_disabled() {
    &:disabled {
        opacity: 0.48;
        cursor: not-allowed;
    }
}

@mixin button_tertiary_base() {
    background: $color-white;
    font-family: $font-sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.75 0;
    text-align: center;

    @include button_transition();
}

.c-button {
    color: $color-white;
    text-align: center;
    font-family: Assistant, $font-sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;

    outline: 0;
    border: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;

    @include button_transition();
    @include button_disabled();
}

@mixin button_variant($background, $shadow, $border-color: null, $border-width: 0) {
    background: $background;
    border: $border-width solid $border-color;
    border-radius: 0.25rem;
    box-shadow: 0px 0.25rem 0.75rem 0px $shadow;
}

$color-primary-shadow: rgba(90, 100, 193, 0.24);
$color-red-shadow: rgba(215, 68, 68, 0.24);

.c-button--primary {
    @include button_variant($color-primary-300, $color-primary-shadow);
    @include button_focus($color-primary-400, $color-primary-shadow);

    &:hover {
        background: $color-primary-400;
        color: $color-white;
    }
}

.c-button--secondary {
    @include button_variant($color-primary-50, $color-primary-shadow, $color-primary-75, 1px);
    @include button_focus($color-primary-400, $color-primary-shadow);
    color: $color-primary-300;

    &:hover {
        background: $color-primary-400;
        color: $color-white;
    }
}

.c-button--terniary {
    @include button_variant($color-red-300, $color-red-shadow);
    @include button_focus($color-red-400, $color-red-shadow);

    &:hover {
        background: $color-red-400;
        color: $color-white;
    }
}

.c-button--quaternary {
    @include button_variant($color-red-50, $color-red-shadow, $color-red-75, 1px);
    @include button_focus($color-red-400, $color-red-shadow);
    color: $color-red-300;

    &:hover {
        background: $color-red-400;
        color: $color-white;
    }
}

.c-button--quinary {
    @include button_tertiary_base();
    color: $color-primary-300;

    &:hover {
        border-bottom: 0.125rem solid $color-primary-400;
        color: $color-primary-400;
    }

    &:focus {
        color: $color-primary-400;
    }
}

.c-button--senary {
    @include button_tertiary_base();
    color: $color-red-300;

    &:hover {
        border-bottom: 0.125rem solid $color-red-400;
        color: $color-red-400;
    }

    &:focus {
        color: $color-red-400;
    }
}

.button--large {
    padding: 1rem 1.5rem;
}

.button--large-tertiary {
    padding: 1rem 0;
}
