/* ==========================================================================
   #CATEGORY
   ========================================================================== */

.c-category {
    @include container();

    display: grid;
    gap: 1.5rem;

    @include bp(medium) {
        grid-template-columns: rem-calc(300px) auto;
    }
}
