/* ==========================================================================
   #FOOTER
   ========================================================================== */

footer {
    background-color: $color-white;
    border-top: 1px solid $color-white-grey;
    padding: 3rem 0;
    position: relative;
    transform: translateZ(0);

    @include bp(medium) {
        section {
            display: grid;
            gap: remCalc(10.5);
            grid-template-columns: 1fr 1fr 1fr auto;
        }
    }
}
