/* SVG icon url's */
$checkmark-icon: './../img/icons/checkmark.svg';
$dropdown-icon: './../img/icons/dropdown.svg';
$form-field-box-shadow: 0 0 0 0.25rem rgba(90, 100, 193, 0.24);
$input-transition: all 0.2s ease-in-out;

@mixin pseudoElementHoverFocusStyles() {
    &:hover {
        &::before {
            border-color: $color-primary-400;
            transition: $input-transition;
        }
    }

    &:focus {
        &::before {
            box-shadow: $form-field-box-shadow;
            transition: $input-transition;
        }
    }
}

@mixin baseRadioCheckboxAppearance() {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: $color-white;
    border: 0.063rem solid $color-neutrals-75;
    transition: $input-transition;
}

.c-form {
    .form-fieldset {
        margin-bottom: 0;
    }

    .form-prefix-postfix {
        display: flex;
        gap: rem-calc(11);
        flex-wrap: wrap;

        @include bp(medium) {
            flex-wrap: nowrap;
        }

        > * {
            flex-basis: 100%;

            @include bp(medium) {
                flex-basis: auto;
            }
        }
    }
}

.c-form__input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;

    border-radius: 0.25rem;
    border: 0.063rem solid $color-neutrals-75;

    background: $color-white;
    color: $color-neutrals-500;
    font-family: $font-regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    transition: $input-transition;

    &:hover {
        border: 0.063rem solid $color-primary-300;
        transition: $input-transition;
    }

    &:focus {
        box-shadow: $form-field-box-shadow;
        transition: $input-transition;
    }

    &--select {
        background: url($dropdown-icon) no-repeat;
        background-position: calc(100% - 1rem) center;
        background-size: 0.75rem;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.c-form__label {
    color: $color-black;

    font-family: $font-semi-bold;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;

    display: block;
    margin-bottom: 0.5rem;

    small {
        color: $color-red-300;
        font-weight: 400;
    }
}

.c-form__radio-label:not(:first-child) {
    padding-left: 2rem;
    position: relative;
    cursor: pointer;

    &::before {
        @include baseRadioCheckboxAppearance();
        left: 0;
        top: -2px;
        border-radius: 50%;
    }

    &:hover {
        &::before {
            border: 0.063rem solid $color-primary-300;
            transition: $input-transition;
        }
    }

    &:focus {
        &::before {
            box-shadow: $form-field-box-shadow;
            transition: $input-transition;
        }
    }
}

.c-form__radio-input {
    display: none;

    &:checked {
        + .c-form__radio-label {
            @include pseudoElementHoverFocusStyles();

            &::before {
                background-color: $color-white;
                border: 0.375rem solid $color-primary-300;
            }
        }
    }
}

.c-form__checkbox-input {
    display: none;

    &:checked {
        + .c-form__checkbox-label {
            @include pseudoElementHoverFocusStyles();

            &::before {
                background-image: url($checkmark-icon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 60%;
                background-color: $color-primary-300;
                border-color: $color-primary-300;
            }
        }
    }
}

.c-form__checkbox-label {
    @include pseudoElementHoverFocusStyles();

    &:not(:first-child) {
        cursor: pointer;
        display: block;
        padding-left: 2rem;
        position: relative;
    }

    &::before {
        @include baseRadioCheckboxAppearance();
        left: 0;
        top: 0;
        border-radius: 0.25rem;
    }
}

.js-form-field-error {
    label,
    .js-inline-message {
        color: $color-red-300;
    }
}

.js-inline-message {
    font-family: $font-regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
