/* ==========================================================================
   #MENU
   ========================================================================== */

$quick-search-icon: './../icons/search.svg';

.c-menu {
    @include container();
    display: none;

    @include bp(medium) {
        display: block;
        position: relative;
        z-index: $z-index-low;
    }

    &.js-has-active-sub-menu::before {
        background-color: $color-white;
        content: '';

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        margin-left: 50%;
        transform: translateX(-50%);
        z-index: $z-index-base;
    }

    .has-sub-menu {
        + .c-navigation__megamenu {
            display: none;
        }

        &.is-open {
            + .c-navigation__megamenu {
                display: flex;
            }
        }
    }
}

.c-menu__toggle {
    height: fit-content;
    display: inline-flex;
    z-index: $z-index-mid;

    .c-menu__close {
        display: none;
    }

    &.is-open {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;

        .c-menu__hamburger {
            display: none;
        }

        .c-menu__close {
            display: inline-flex;
        }

        @include bp(small) {
            right: 3rem;
        }
    }

    @include bp(medium) {
        display: none;
    }
}
