/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.c-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp(medium) {
        padding: 1.5rem 0;
    }

    @include bp(xlarge) {
        padding: 1.5rem 0;
    }
}

.c-navigation__megamenu {
    .c-menu.has-sub-menu + & {
        display: none;
    }
}

.c-navigation__items {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 1rem 0;
}

.c-navigation__item {
    display: flex;
    margin: 0;
    height: fit-content;
}

.c-navigation__item-account {
    display: none;

    @include bp(medium) {
        display: flex;
    }
}

.c-navigation__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0 rem-calc(4px);

    color: $color-black;
    text-align: center;
    font-family: $font-semi-bold;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    position: relative;

    @include bp(medium) {
        padding: 1rem 0;
    }

    svg {
        display: inline-block !important;
    }
}

.c-navigation__label {
    @extend .c-navigation__link;
    display: none;

    @include bp(medium) {
        display: inline-block;
        padding: 0;
    }
}

.c-navigation__link-search {
    @extend .c-navigation__link;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.c-navigation__icon {
    max-width: rem-calc(24px);
    max-height: rem-calc(24px);
    fill: transparent;

    &--close {
        max-width: rem-calc(16px);
        max-height: rem-calc(16px);
    }
}

.c-navigation-list__submenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    margin: 0;
    padding: 1.5rem 0;

    @include bp(small) {
        padding: 1.5rem 0;
    }

    @include bp(medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include bp(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.c-navigation-list__item {
    &.is-hidden {
        @include bp-down(medium) {
            display: none;
        }
    }
}

.c-navigation-list__show-more {
    font-family: $font-semi-bold;
    font-size: rem-calc(16px);
    line-height: rem-calc(24px);
    font-weight: 600;
    text-align: center;
    color: $color-primary-300;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    gap: rem-calc(8px);
    align-items: center;
}

.c-navigation-list__arrow {
    fill: $color-white;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
    width: rem-calc(24px);
    height: rem-calc(24px);

    .c-navigation-list__show-more.is-open & {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
    }
}

.c-navigation-list__submenu-header {
    @extend .c-navigation__link;

    color: $color-neutrals-500;
    text-align: center;
    font-family: $font-semi-bold;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid $color-secondary-75;
    white-space: nowrap;
    text-decoration: none;

    ~ .is-open {
        margin-top: 1.5rem;
    }
}

.c-navigation-list__submenu-item {
    @extend .c-navigation__link;

    border-bottom: 0;
    color: $color-black;
    text-align: left;
    font-family: $font-regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 0 0.5rem;
}

.c-navigation__megamenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: $z-index-mid-low;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);

    background-color: $color-white;
    padding: 1.5rem 0;

    &.is-mobile {
        top: 0;
        padding: 6.5rem 0 0;

        @include bp(medium) {
            display: none;
        }
    }

    .has-sub-menu + & {
        display: none;
    }

    .has-sub-menu.is-open + & {
        display: flex;
    }
}

.c-navigation__megamenu-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-navigation__search {
    align-items: center;
    background-color: $color-gray-e5;
    display: flex;
    justify-content: center;
    margin-left: calc(50% - 50vw);
    padding: 3rem;
    width: 100vw;

    > div {
        width: 100%;
        max-width: 1024px;
        margin-inline: auto;
    }
}

.c-navigation__cart-quantity {
    display: inline-block;
    background-color: $color-secondary-300;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;

    color: $color-white;
    text-align: center;
    font-family: $font-regular;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;

    position: absolute;
    top: rem-calc(2px);
    right: rem-calc(-12px);

    @include bp(medium) {
        position: relative;
        top: 0;
        right: 0;
    }
}

.c-navigation-menu {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem-calc(10px);
    position: relative;
}

.c-navigation-menu-item {
    margin: 0;
}

.c-navigation__promo {
    width: 100%;
    height: auto;
    aspect-ratio: 159 / 190;
    object-fit: cover;

    @include bp(small) {
        aspect-ratio: 230 / 190;
    }

    @include bp(medium) {
        aspect-ratio: 284 / 190;
    }
}

.c-navigation__sign-in {
    color: $color-primary-300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
    margin: 1.5rem 0;
    border-bottom: 0;
    text-decoration: none;
}

.c-navigation__separator:last-of-type {
    display: none;
}
