.c-price {
    color: $color-black;
    text-align: center;
    font-family: $font-semi-bold;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    text-decoration: line-through;

    &__sale {
        font-size: 1.25rem;
        text-decoration: none;
    }
}
