/* ==========================================================================
   #PRODUCT
   ========================================================================== */

.c-product {
    display: grid;
    column-gap: rem-calc(24px);
    row-gap: rem-calc(24px);
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        'header'
        'image'
        'info';
    width: 100%;

    @include bp(small) {
        display: grid;
        row-gap: rem-calc(48px);
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: min-content 100%;
        grid-template-areas:
            'header header'
            'image info';
    }

    @include bp(medium) {
        column-gap: rem-calc(50px);
        row-gap: 0;
        grid-template-areas:
            'image header'
            'image info';
    }

    .c-grid-list & {
        display: flex;
    }
}

.c-product__title {
    font-family: $font-semi-bold;
    font-weight: 600;
    font-size: rem-calc(42px);
    line-height: rem-calc(56px);
    margin-bottom: rem-calc(12px);

    @include bp(medium) {
        margin-bottom: 1.3rem;
    }
}

.c-product__image-wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
}

.c-product__image-link {
    display: block;
    aspect-ratio: 616 / 920;
    width: 100%;
    height: auto;
    border-radius: rem-calc(4px);

    @include bp(medium) {
        aspect-ratio: auto;
    }
}

.c-product__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.c-product__thumbs {
    background-color: $color-secondary-50;
    display: flex;
    gap: rem-calc(24px);
    padding: rem-calc(24px);
    overflow-x: scroll;
    border-bottom-left-radius: rem-calc(4px);
    border-bottom-right-radius: rem-calc(4px);
}

.c-product__thumb {
    border-radius: rem-calc(4px);
    display: block;
    aspect-ratio: 1 / 1.5;
    width: 100px;
    height: auto;
    overflow: hidden;
    opacity: 0.64;

    &.is-active {
        opacity: 1;
    }
}

.c-product__thumb-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.c-product__review-link {
    color: $color-primary-300;
    font-family: $font-semi-bold;
    font-weight: 600;
    font-size: rem-calc(14px);
    line-height: rem-calc(16px);

    &:hover {
        color: $color-primary-300;
    }
}

.c-product__reviews {
    display: flex;
    align-items: center;
    gap: rem-calc(8px);
}

.c-product__description {
    * {
        color: $color-neutrals-500;
        font-family: $font-regular;
        font-weight: 400;
        font-size: rem-calc(18px);
        line-height: rem-calc(24px);

        @include bp(medium) {
            margin-block: rem-calc(24px);
        }
    }

    a {
        color: $color-primary-300;
    }
}

.c-product__pricing {
    display: flex;
    gap: rem-calc(8px);

    .c-price {
        font-size: rem-calc(24px);

        &__no-tax {
            font-size: rem-calc(32px);
            line-height: rem-calc(40px);
        }
    }
}

.c-product__action-buttons {
    display: flex;
    align-items: center;
    gap: rem-calc(12px);
    margin-block: rem-calc(24px);
}

.c-button__add-to-cart {
    display: flex;
    align-items: center;
    gap: rem-calc(8px);
}

.c-product__gallery {
    grid-area: image;
}

.c-product__header {
    height: min-content;
    grid-area: header;
}

.c-product__info {
    grid-area: info;
}

.c-product__tag {
    position: absolute;
    top: rem-calc(24px);
    left: rem-calc(24px);
    padding: rem-calc(4px) rem-calc(8px);
    border-radius: rem-calc(2px);
    background-color: $color-secondary-50;
    color: $color-secondary-300;
    font-family: $font-semi-bold;
    font-weight: 600;
    font-size: rem-calc(14px);
    line-height: rem-calc(16px);
    text-align: center;
}

.c-product__options {
    display: flex;
    flex-direction: column;
    gap: rem-calc(12px);
}
