/* ==========================================================================
   #SOCIAL LINKS
   ========================================================================== */

.c-social-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0;
}
