/* ==========================================================================
   #SOCIAL LINKS
   ========================================================================== */
   
.c-social-links {
    @include list-bare();

    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}
