.c-wysiwyg__heading {
    color: $color-black;
    font-family: $font-semi-bold;
    font-style: normal;
    font-weight: 600;
}

.c-wysiwyg {
    p {
        color: $color-neutrals-500;
        font-family: $font-regular;
        font-size: rem-calc(18px);
        font-style: normal;
        font-weight: 400;
        line-height: rem-calc(24px);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    strong {
        font-family: $font-semi-bold;
        font-weight: 600;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .c-wysiwyg__heading;
    }

    h1 {
        font-size: 2rem;
        line-height: 2.5rem;

        @include bp(medium) {
            font-size: 2.625rem;
            line-height: 3.5rem;
        }
    }

    h2 {
        font-size: rem-calc(24px);
        line-height: rem-calc(32px);

        @include bp(medium) {
            font-size: rem-calc(32px);
            line-height: rem-calc(40px);
        }
    }

    h3 {
        font-size: rem-calc(20px);
        line-height: rem-calc(24px);

        @include bp(medium) {
            font-size: rem-calc(24px);
            line-height: rem-calc(40px);
        }
    }

    h4 {
        font-size: rem-calc(20px);
        line-height: rem-calc(24px);

        @include bp(medium) {
            font-size: rem-calc(20px);
            line-height: rem-calc(24px);
        }
    }

    h5, 
    h6 {
        font-size: rem-calc(18px);
        line-height: rem-calc(24px);

        @include bp(medium) {
            font-size: rem-calc(18px);
            line-height: rem-calc(24px);
        }
    }

    a {
        color: $color-primary-300;
        font-family: $font-regular;
        font-size: rem-calc(18px);
        font-style: normal;
        font-weight: 400;
        line-height: rem-calc(24px);
    }
}
