<div>
    <button 
        type="button"
        class="js-accordion-navigation{{#unless start_collapsed}} is-open{{/unless}}"
        data-collapsible="#facets-{{dashcase facet}}"
        aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
    >
        <span>
            {{title}}
        </span>

        <span>
            <svg>
                <use href="#icon-add" />
            </svg>
            <svg>
                <use href="#icon-remove" />
            </svg>
        </span>
    </button>
    
    {{#if selected}}
        <a href="{{remove_url}}" class="js-facets-search-clear js-faceted-search-facet">
            {{lang 'search.faceted.clear'}}
        </a>
    {{/if}}
</div>
