<div class="c-facet__toggle">
    <button 
        type="button"
        class="js-accordion-navigation c-accordion{{#unless start_collapsed}} is-open{{/unless}}"
        data-collapsible="#facets-{{dashcase facet}}"
        aria-label="{{lang 'search.faceted.toggleSection' title=title}}"
    >
        <span class="c-accordion__title">
            {{title}}
        </span>

        <span class="c-accordion__icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M18 15L12 9L6 15" stroke="#5A64C1" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
    </button>
</div>
