<div class="js-facets-search-wrapper c-facets">
    {{#any facets visible=true}}
        <div id="facets-search-nav-list" class="js-facets-search-nav-list c-facet__list">
            {{#each facets}}
                {{#if visible}}
                    {{{dynamicComponent 'components/faceted-search/facets'}}}
                {{/if}}
            {{/each}}
            
            {{> components/faceted-search/selected-facets selected}}
            <div class="c-blocker js-blocker" style="display: none;"></div>
        </div>
    {{/any}}

</div>
