<div class="js-facets-search-wrapper">
    {{> components/faceted-search/selected-facets selected}}

    <a 
        href="#facets-search-nav-list" 
        role="button" 
        class="js-facets-search-toggle hidden justify-between items-center" 
        data-collapsible=".js-facets-search-nav-list"
    >
        <span>
            {{#if facets.length '>' 2}}
                {{lang 'search.faceted.browse-by'}} {{join (pluck facets 'title') ', ' limit=2}} &amp; {{toLowerCase (lang 'search.faceted.more')}}
            {{else}}
                {{lang 'search.faceted.browse-by'}} {{join (pluck facets 'title') ', ' lastSeparator=' & '}}
            {{/if}}
        </span>
        <span>
            <span>
                {{lang 'search.faceted.hide-filters'}}
                <svg aria-hidden="true" class="w-4 h-4">
                    <use href="#icon-keyboard-arrow-up"></use>
                </svg>
            </span>
            <span>
                {{lang 'search.faceted.show-filters'}}
                <svg aria-hidden="true"  class="w-4 h-4">
                    <use href="#icon-keyboard-arrow-down"></use>
                </svg>
            </span>
        </span>
    </a>
    {{#any facets visible=true}}
        <div id="facets-search-nav-list" class="js-facets-search-nav-list">
            <div>
                {{#each facets}}
                    {{#if visible}}
                        {{{dynamicComponent 'components/faceted-search/facets'}}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="c-blocker js-blocker" style="display: none;"></div>
        </div>
    {{/any}}
</div>
