<div>
    <div>
        {{lang 'search.faceted.selected.title'}}
    </div>
    {{#if items}}
        <ul>
            {{#each items}}
                <li>
                    <a 
                        href="{{url}}"
                        rel="nofollow"
                        data-faceted-search-facet
                    >
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{{sanitize title}}}
                        {{/if}}
                        <svg>
                            <use href="#icon-close" />
                        </svg>
                    </a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>{{lang 'search.faceted.selected.no-filters'}}</p>
    {{/if}}
    {{#if remove_all_url}}
        <a href="{{remove_all_url}}" data-faceted-search-facet>
            {{lang 'search.faceted.selected.clear-all'}}
        </a>
    {{/if}}
</div>
