{{!-- todo: this should be a modal --}}
<div class="js-modal">
    <div>
        {{all_facets}}
    </div>
    <div>
        <label class="u-hidden-visually" for="facet-search">
            {{lang 'forms.search.search'}}
        </label>
        <input id="facet-search" type="search" placeholder="{{lang 'forms.search.search'}}">
    </div>
    <ul class="js-facets-search-nav-list">
        {{#each facets}}
            {{#if facet '===' ../all_facets}}
                {{#each items}}
                    <li class="js-nav-list-item">
                        <a
                            href="{{url}}"
                            class="js-nav-list-action{{#if selected}} is-active{{/if}}"
                            rel="nofollow"
                            data-id="{{id}}"
                            data-faceted-search-facet
                        >
                            {{{title}}}
                            {{#if ../show_product_counts}}
                                {{#if count}}
                                    <span>
                                        ({{count}})
                                        </span>
                                {{/if}}
                            {{/if}}
                        </a>
                    </li>
                {{/each}}
            {{/if}}
        {{/each}}
    </ul>
</div>
