<div>
    <form action="{{forms.search.action}}" class="js-advanced-search-form" id="advanced-search-content" aria-hidden="true">
        <input type="hidden" name="mode" value="1">
        <div>
            {{lang 'forms.search.title'}}
        </div>
        <div>
            <fieldset>
                <div>
                    <label class="c-form__label" for="search_query_adv">
                        {{lang 'forms.search.query' }}
                        <small>
                            {{lang 'common.required' }}
                        </small>
                    </label>
                    <input class="c-form__input" type="text" name="search_query_adv" data-error-message="{{lang 'search.error.empty_field'}}" id="search_query_adv" value="{{forms.search.query}}">
                </div>
                <div>
                    <label class="c-form__label" for="search-form-brand">
                        {{lang 'forms.search.brand' }}
                    </label>
                    <select class="c-form__input c-form__input--select" name="brand" id="search-form-brand">
                        <option value="">{{lang 'common.no_preference'}}</option>
                        {{#each forms.search.brands_list}}
                            <option value="{{id}}" {{#if ../forms.search.values.brand '==' id}}selected{{/if}}>
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label class="c-form__label">
                        {{lang 'forms.search.categories' }}
                    </label>
                    <div class="js-search-category-tree"></div>
                </div>
                <div>
                    <input class="c-form__checkbox-input" type="checkbox" name="searchsubs" value="ON" id="search-form-searchsubs" checked>
                    <label class="c-form__checkbox-label" for="search-form-searchsubs">
                        {{lang 'forms.search.searchsubs'}}
                    </label>
                </div>
            </fieldset>
        </div>
        <hr>
        <div>
            <div>
                <div>
                    {{lang 'forms.search.by_price'}}
                </div>
                <p for="search-form-price-from">
                    {{lang 'forms.search.price_range' }}
                </p>
                <label>
                    <span class="u-hidden-visually">
                        {{lang 'forms.search.price_range' }}
                    </span>
                    <span>
                        {{lang 'common.from'}}
                    </span>
                    <input class="c-form__input" type="number" step="any" name="price_from" id="search-form-price-from" value="{{forms.search.values.price_from}}">
                </label>
                <label>
                    <span class="u-hidden-visually">
                        {{lang 'forms.search.price_range' }}
                    </span>
                    <span>
                        {{lang 'common.to'}}
                    </span>
                    <input class="c-form__input" type="number" step="any" name="price_to" id="search-form-price-to" value="{{forms.search.values.price_to}}">
                </label>
            </div>
        </div>
        <hr>
        <div>
            {{lang 'forms.search.by_setting'}}
        </div>
        <div>
            <div>
                <label class="c-form__label" for="search-form-featured">
                    {{lang 'forms.search.featured_products.title' }}
                </label>
                <select class="c-form__input c-form__input--select" name="featured" id="search-form-featured">
                    <option value="">
                        {{lang 'common.no_preference'}}
                    </option>
                    <option value="1"{{#if forms.search.values.featured_products '===' '1'}} selected{{/if}}>
                        {{lang 'forms.search.featured_products.enabled' }}
                    </option>
                    <option value="2"{{#if forms.search.values.featured_products '===' '2'}} selected{{/if}}>
                        {{lang 'forms.search.featured_products.disabled' }}
                    </option>
                </select>
            </div>
            <div>
                <label class="c-form__label" for="search-form-shipping">
                    {{lang 'forms.search.free_shipping.title' }}
                </label>
                <select class="c-form__input c-form__input--select" name="shipping" id="search-form-shipping">
                    <option value="">
                        {{lang 'common.no_preference'}}
                    </option>
                    <option value="1"{{#if forms.search.values.free_shipping '===' '1'}} selected{{/if}}>
                        {{lang 'forms.search.free_shipping.free' }}
                    </option>
                    <option value="2"{{#if forms.search.values.free_shipping '===' '2'}} selected{{/if}}>
                        {{lang 'forms.search.free_shipping.paid' }}
                    </option>
                </select>
            </div>
        </div>
        <div>
            <button class="c-button c-button--primary" type="submit">
                {{lang 'forms.search.search' }}
            </button>
        </div>
    </form>
</div>
