<form method="get" data-sort-by="content">
    <fieldset>
        <div>
            <label for="sort">
                {{lang 'common.sorter.sort_by'}}
            </label>
            <select name="sort" id="sort">
                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>
                    {{lang 'common.sorter.relevance'}}
                </option>
                <option value="alphaasc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>
                    {{lang 'common.sorter.alpha_asc'}}
                </option>
                <option value="alphadesc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>
                    {{lang 'common.sorter.alpha_desc'}}
                </option>
            </select>
        </div>
    </fieldset>
</form>
