{{#if content_results}}
    {{> components/search/content-sort-box sort=pagination.content_results.sort}}
    <ul>
        {{#each content_results}}
            <li>
                <a href="{{url}}">
                    <strong>
                        {{{title}}}
                    </strong>
                </a>({{type}})
                <div>
                    {{{content}}}
                </div>
            </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.content_results reload=true}}
{{/if}}
