/* ==========================================================================
   #FONT-FACE
   ========================================================================== */

/**
 * Add font-display: swap to font-face blocks here
 * https://www.zachleat.com/web/comprehensive-webfonts/#font-display
 */

@font-face {
    font-family: 'Assistant Regular';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/assistant-regular.woff) format('woff');
}

@font-face {
    font-family: 'Assistant Semi Bold';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/assistant-semibold.woff) format('woff');
}

$font-regular: 'Assistant Regular', sans-serif;
$font-semi-bold: 'Assistant Semi Bold', sans-serif;

* {
    font-family: $font-regular;
}
