<div>
    <button class="js-coupon-code-add">
        {{lang 'cart.coupons.add_coupon'}}
    </button>
    
    <button class="js-coupon-code-cancel" style="display: none;">
        {{lang 'cart.coupons.cancel'}}
    </button>
</div>

<div class="js-coupon-code" style="display: none;">
    <form class="js-coupon-form" method="post" action="{{urls.cart}}">
        <label for="couponcode">
            {{lang 'cart.coupons.coupon_code'}}
        </label>
        <input 
            class="js-form-input" 
            data-error="{{lang 'cart.coupons.empty_error'}}" 
            id="couponcode" 
            type="text" 
            name="couponcode"
            value="" 
            placeholder="{{lang 'cart.coupons.coupon_code'}}"
        >

        <button 
            class="c-button c-button--primary" 
            type="submit"
        >
            {{lang 'cart.coupons.button'}}
        </button> 

        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
