<div class="js-coupon-code">
    <form class="js-coupon-form c-coupon-form" method="post" action="{{urls.cart}}">
        <input 
            class="js-form-input c-form__input u-width-full" 
            data-error="{{lang 'cart.coupons.empty_error'}}" 
            id="couponcode" 
            type="text" 
            name="couponcode"
            value="" 
            placeholder="{{lang 'cart.coupons.coupon_code'}}"
        >

        <button 
            class="c-button c-button--secondary u-width-full" 
            type="submit"
        >
            {{lang 'cart.coupons.button'}}
        </button> 

        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
