<div>
    <button class="js-gift-certificate-add">
        {{lang 'cart.gift_certificates.gift_certificate'}}
    </button>

    <button class="js-gift-certificate-cancel" style="display: none;">
        {{lang 'cart.coupons.cancel'}}
    </button>
</div>

<div class="js-gift-certificate-code" style="display: none;">
    <form class="js-cart-gift-certificate-form" method="post" action="{{urls.cart}}">
        <label for="certcode">
            {{lang 'cart.gift_certificates.cert_code'}}
        </label>
        <input 
            class="js-form-input" 
            id="certcode" 
            type="text" 
            name="certcode" 
            value="" 
            placeholder="{{lang 'cart.gift_certificates.add_cert_code'}}"
        >
        <button 
            class="c-button c-button--primary" 
            type="submit"
        >
            {{lang 'cart.coupons.button'}}
        </button> 
        <input type="hidden" name="action" value="applycoupon">
    </form>
</div>
