{{#if show_gift_wrapping}}
    <dl>
        <dt>
            {{lang 'cart.gift_wrapping.title'}}:
        </dt>
        {{#if gift_wrapping}}
            <dd>
                {{gift_wrapping.name}}: {{gift_wrapping.price.formatted}}
                <span>
                    (<a href="" data-item-giftwrap="{{id}}">
                        {{lang 'cart.gift_wrapping.change'}}
                    </a> or 
                    <a 
                        href="{{gift_wrapping.remove_url}}" 
                        onclick="return confirm('{{lang 'cart.gift_wrapping.remove_confirm'}}')"
                    >
                        {{lang 'cart.gift_wrapping.remove'}}
                    </a>)
                </span>
            </dd>
            {{#if gift_wrapping.message}}
                <dt>
                    {{lang 'cart.gift_wrapping.gift_message'}}:
                </dt>
                <dd>
                    {{gift_wrapping.message}}
                </dd>
            {{/if}}
        {{else}}
            <dd>
                <a href="" data-item-giftwrap="{{id}}">
                    {{lang 'cart.gift_wrapping.add'}}
                </a>
            </dd>
        {{/if}}
    </dl>
{{/if}}
