<div class="js-modal-header c-modal__header">
    <h1 class="js-modal-header-title c-modal__header-title">
        {{lang 'cart.added_to_cart.woohoo'}} 🎉
    </h1>
</div>

<div class="js-modal-body c-modal__body">
    <section class="js-product-view">
        {{#with cart.added_item}}
            <p class="c-modal__product-name">{{name}}</p>
            <div>
                {{#each options}}
                    <div class="js-product-view-info">
                        <span>
                            {{name}}
                        </span>
                        <div>
                            {{> components/common/product-options}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/with}}
        <p class="c-modal__message">{{lang 'cart.added_to_cart.message'}}</p>
    </section>
    <section class="js-preview-cart-checkout c-modal__button-wrapper">
        {{#if cart.show_primary_checkout_button}}
            {{#if cart.additional_checkout_buttons}}
                <div></div>
            {{/if}}

            <a href="{{urls.checkout.single_address}}" class="c-button c-button--primary">
                {{lang 'cart.added_to_cart.proceed_to_checkout'}}
            </a>
        {{/if}}

        <div>
            {{#each cart.additional_checkout_buttons}}
                {{{this}}}
            {{/each}}
        </div>

        {{#if cart.show_multiple_address_shipping}}
            <div>
                <a href="{{urls.checkout.multiple_address}}">
                    {{lang 'cart.preview.checkout_multiple'}}
                </a>
            </div>
        {{/if}}

        <a href="#" class="c-button c-button--secondary js-reveal-close" role="button">
            {{lang 'cart.added_to_cart.continue_shopping'}}
        </a>
    </section>
</div>
{{{remote_api_scripts}}}
