{{inject 'shippingCountryErrorMessage' (lang 'cart.shipping_estimator.empty_country_error')}}
{{inject 'shippingProvinceErrorMessage' (lang 'cart.shipping_estimator.empty_province_error')}}

{{#if shipping_cost}}
    <div class="c-totals__shipping-total">
        <strong class="c-totals__label">{{lang 'cart.checkout.shipping'}}:</strong>
        <div class="js-shipping-estimate-show">
            <a class="c-totals__value" href="#">
                {{shipping_cost.formatted}}
            </a>
        </div>
    </div>
{{/if}}

<div id="add-shipping">
    <form class="js-estimator-form js-shipping-estimator c-shipping-estimator">
        <div class="u-width-full">
            <label class="c-form__label" for="shipping-country">
                {{lang 'cart.shipping_estimator.select_a_country'}}
            </label>
            <select
                class="c-form__input c-form__input--select u-width-full" 
                id="shipping-country" 
                name="shipping-country" 
                data-field-type="Country"
            >
                <option>
                    {{lang 'cart.shipping_estimator.select_a_country'}}
                </option>
                
                {{#each countries}}
                    <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                        {{name}}
                    </option>
                {{/each}}
            </select>
        </div>

        <div class="u-width-full">
            <label class="c-form__label" for="shipping-state">
                {{lang 'cart.shipping_estimator.select_a_state'}}
            </label>
            <div data-type="State">
                <div>
                    <small class="u-required" style="display: none;">*</small>
                </div>
                {{#if states.length}}
                    <select 
                        class="c-form__input c-form__input--select u-width-full" 
                        id="shipping-state" 
                        name="shipping-state" 
                        data-field-type="State"
                    >
                        <option>
                            {{lang 'cart.shipping_estimator.select_a_state'}}
                        </option>
                        
                        {{#each states}}
                            <option value="{{id}}" {{#if selected}}selected="selected"{{/if}}>
                                {{name}}
                            </option>
                        {{/each}}
                    </select>
                {{else}}
                    <input 
                        class="js-form-input c-form__input u-width-full" 
                        type="text" 
                        id="shipping-state" 
                        name="shipping-state" 
                        data-field-type="State" 
                        placeholder="{{lang 'cart.shipping_estimator.select_a_state'}}"
                    >
                {{/if}}
            </div>
        </div>

        <div class="u-width-full">
            <label class="c-form__label" for="shipping-city">
                {{lang 'cart.shipping_estimator.suburb_city'}}
            </label>
            <input 
                class="js-form-input c-form__input u-width-full" 
                type="text" id="shipping-city" 
                name="shipping-city" 
                value="{{selected_city}}" 
                placeholder="{{lang 'cart.shipping_estimator.suburb_city'}}"
            >
        </div>

        <div class="u-width-full">
            <label class="c-form__label" for="shipping-zip">
                {{lang 'cart.shipping_estimator.zip_postal_code'}}
            </label>
            <input 
                class="js-form-input c-form__input u-width-full" 
                type="text" 
                id="shipping-zip" 
                name="shipping-zip" 
                value="{{selected_zip}}" 
                placeholder="{{lang 'cart.shipping_estimator.zip_postal_code'}}"
            >
        </div>
        
        <button class="c-button c-button--secondary js-shipping-estimate-submit u-width-full">
            {{lang 'cart.shipping_estimator.estimate_shipping'}}
        </button>
    </form>
    <div 
        class="js-shipping-quotes" 
        role="alert" 
        aria-atomic="true" 
        aria-live="assertive"
    ></div>
</div>
