<div class="max-w-desktop px-4 mx-auto">
    <ul class="flex flex-col gap-2 items-end m-0 md:max-w-xs w-full md:ml-auto">
        <li class="flex gap-3 items-center justify-between w-full">
            <div>
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div>
                {{#or customer (unless settings.hide_price_from_guests)}}
                    <span>
                        {{cart.sub_total.formatted}}
                    </span>
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </li>

        {{#if cart.gift_wrapping_cost.value}}
            <li class="flex gap-3 items-center justify-between w-full">
                <div>
                    <strong>{{lang 'cart.checkout.gift_wrapping'}}:</strong>
                </div>
                <div>
                    <span>
                        {{cart.gift_wrapping_cost.formatted}}
                    </span>
                </div>
            </li>
        {{/if}}

        {{#if cart.shipping_handling.show_estimator}}
            <li class="flex flex-wrap gap-3 items-center justify-between w-full">
                <div>
                    <strong>{{lang 'cart.checkout.shipping'}}:</strong>
                </div>
                {{> components/cart/shipping-estimator cart.shipping_handling}}
            </li>
        {{/if}}
        {{#each cart.taxes}}
            {{#unless included}}
                <li class="flex gap-3 items-center justify-between w-full">
                    <div>
                        <strong>{{name}}:</strong>
                    </div>
                    <div>
                        <span>{{cost.formatted}}</span>
                    </div>
                </li>
            {{/unless}}
        {{/each}}
        {{#if cart.discount }}
            <li class="flex gap-3 items-center justify-between w-full">
                <div>
                    <strong>{{lang 'cart.discount'}}:</strong>
                </div>
                <div>
                    {{cart.discount.formatted}}
                </div>
            </li>
        {{/if}}
        {{#if cart.coupons}}
            {{#each cart.coupons}}
                <li class="flex gap-3 items-center justify-between w-full">
                    <div>
                        <strong>
                            {{lang 'cart.coupons.code_label' code=code}}
                        </strong>
                        <div>
                            <a href="{{remove_url}}">
                                {{lang 'cart.coupons.remove'}}
                            </a>
                        </div>
                    </div>
                    <div>
                        <span>{{discount.formatted}}</span>
                    </div>
                </li>
            {{/each}}
        {{else}}
            <li class="flex gap-3 flex-wrap items-center justify-between w-full">
                <div>
                    <strong>{{lang 'cart.coupon_code'}}:</strong>
                </div>
                {{> components/cart/coupon-input}}
            </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
            {{#each cart.gift_certificates}}
                <li class="flex gap-3 items-center justify-between w-full">
                    <div>
                        <strong>
                            {{lang 'cart.gift_certificates.code_label' code=code}}
                        </strong>
                        <span>
                            {{remaining.formatted}} | <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                        </span>
                    </div>
                    <div>
                        {{used.formatted}}
                    </div>
                </li>
            {{/each}}
            <li class="flex gap-3 items-center justify-between w-full">
                <div>
                    <strong>{{lang 'cart.gift_certificates.gift_certificate'}}:</strong>
                </div>
                {{> components/cart/gift-certificate-input}}
            </li>
        {{/if}}
        
        <li class="flex gap-3 items-center justify-between w-full">
            <div>
                <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
            </div>
            <div>
                {{#or customer (unless settings.hide_price_from_guests)}}
                    <span class="font-bold text-lg">
                        {{cart.grand_total.formatted}}
                    </span>
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        </li>

        {{#each cart.taxes}}
            {{#if included}}
                <li class="flex gap-3 items-center justify-between w-full">
                    <div>
                        <strong>{{concat name (lang 'cart.included_in_total')}}:</strong>
                    </div>
                    <div>
                        <span>{{cost.formatted}}</span>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
