<div class="c-totals">
    <div class="c-totals__subtotal">
        <strong class="c-totals__label">{{lang 'cart.checkout.subtotal'}}:</strong>
        {{#or customer (unless settings.hide_price_from_guests)}}
            <span class="c-totals__value">
                {{cart.sub_total.formatted}}
            </span>
        {{else}}
            {{> components/common/login-for-pricing}}
        {{/or}}
    </div>

    {{#if cart.gift_wrapping_cost.value}}
        <div class="c-totals__gift-wrapping-cost">
            <strong class="c-totals__label">{{lang 'cart.checkout.gift_wrapping'}}:</strong>
            <span class="c-totals__value">
                {{cart.gift_wrapping_cost.formatted}}
            </span>
        </div>
    {{/if}}

    {{#if cart.shipping_handling.show_estimator}}
        <div class="c-totals__shipping-estimator">
            {{> components/cart/shipping-estimator cart.shipping_handling}}
        </div>
    {{/if}}
    {{#each cart.taxes}}
        {{#unless included}}
            <div class="c-totals__discount">
                <strong class="c-totals__label">{{name}}:</strong>
                <span class="c-totals__value">{{cost.formatted}}</span>
            </div>
        {{/unless}}
    {{/each}}
    {{#if cart.discount }}
        <div class="c-totals__discount">
            <strong class="c-totals__label">{{lang 'cart.discount'}}:</strong>
            <span class="c-totals__value">
                {{cart.discount.formatted}}
            </span>
        </div>
    {{/if}}
    {{#if cart.coupons}}
        {{#each cart.coupons}}
            <div class="c-totals__coupon">
                <div>
                    <strong class="c-totals__label">
                        {{lang 'cart.coupons.code_label' code=code}}
                    </strong>
                    <div>
                        <a href="{{remove_url}}">
                            {{lang 'cart.coupons.remove'}}
                        </a>
                    </div>
                </div>
                <span class="c-totals__value">{{discount.formatted}}</span>
            </div>
        {{/each}}
    {{else}}
        <div class="c-totals__coupon-input">
            {{> components/cart/coupon-input}}
        </div>
    {{/if}}
    {{#if settings.gift_certificates_enabled}}
        {{#each cart.gift_certificates}}
            <div class="c-totals__gift-certificate">
                <div>
                    <strong class="c-totals__label">
                        {{lang 'cart.gift_certificates.code_label' code=code}}
                    </strong>
                    <span class="c-totals__value">
                        {{remaining.formatted}} | <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                    </span>
                </div>
                <div class="c-totals__value">
                    {{used.formatted}}
                </div>
            </div>
        {{/each}}
        <div class="c-totals__gift-certificate-input">
            <strong class="c-totals__label">{{lang 'cart.gift_certificates.gift_certificate'}}:</strong>
            {{> components/cart/gift-certificate-input}}
        </div>
    {{/if}}
    
    <div class="c-totals__cart-total">
        <strong class="c-totals__label">{{lang 'cart.checkout.grand_total'}}:</strong>
        {{#or customer (unless settings.hide_price_from_guests)}}
            <span class="c-totals__value">
                {{cart.grand_total.formatted}}
            </span>
        {{else}}
            {{> components/common/login-for-pricing}}
        {{/or}}
    </div>

    {{#each cart.taxes}}
        {{#if included}}
            <div class="c-totals__cart-taxes">
                <strong class="c-totals__label">{{concat name (lang 'cart.included_in_total')}}:</strong>
                <span class="c-totals__value">{{cost.formatted}}</span>
            </div>
        {{/if}}
    {{/each}}
</div>
