@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --max-w-desktop: 70rem;
    }
}

.u-hidden-visually {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

header > div {
    @apply max-w-desktop mx-auto text-center my-8 pl-11;
}

.optimizedCheckout-contentPrimary {
    @apply max-w-desktop mx-auto;
}

.button--primary {
    @apply bg-black text-white hover:bg-white hover:text-black text-center rounded-none !important;
}

.button--tertiary {
    @apply border border-black text-black bg-transparent hover:bg-black hover:text-white rounded-none hover:border-black; 
}

.form-body input {
    @apply border-gray-200;
}

button.button--action {
    @apply bg-black text-white hover:bg-white hover:text-black border-black text-center rounded-none hover:border-black;
}

button.button--action:disabled {
    @apply bg-white border-gray-300 text-gray-300;
}
