.c-auth-page {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include bp(medium) {
        padding: 3rem 5rem;
        gap: 3rem;
    }
}

.page-title {
    color: $color-black;
    font-family: $font-regular;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
    margin: 0;
}

.js-login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    @include bp(medium) {
        width: auto;
    }

    .js-form-field {
        @include bp(medium) {
            min-width: 21.37rem;
        }

        input {
            width: 100%;
        }
    }
}

.submit-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    button {
        width: 100%;

        @include bp(small) {
            width: fit-content;
        }
    }

    a {
        color: $color-primary-300;
        font-family: $font-regular;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        text-decoration-line: underline;
    }
}

.new-customer-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .c-button {
        width: 100%;

        @include bp(small) {
            width: fit-content;
        }
    }
}

.new-customer-heading {
    color: $color-black;
    font-family: $font-regular;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    margin: 0;
}

.new-customer-content {
    p {
        strong {
            color: $color-neutrals-500;
            font-family: $font-semi-bold;
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5rem;
        }
    }

    ul li {
        color: $color-neutrals-500;
        font-family: $font-regular;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

.main-login-section {
    display: flex;
    justify-content: space-between;
}

.sign-in-image {
    max-width: 38.5rem;
    max-height: 38.5rem;
    width: 100%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.sign-in-image-wrapper {
    display: none;
    position: relative;

    @include bp(medium) {
        display: block;
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        left: -25%;
        top: -25%;
        max-width: 38.5rem;
        max-height: 38.5rem;
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        background-color: rgba(90, 100, 193, 0.08);
        z-index: 0;
        border-radius: 50%;
    }
}

.required {
    color: $color-red-300;
}

.c-create-account-form {
    display: grid;
    gap: 3rem;

    br {
        display: none;
    }

    .c-button {
        width: 100%;

        @include bp(medium) {
            width: fit-content;
        }
    }
}

.sign-up-fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    @include bp(medium) {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    @include bp(large) {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .js-form-field {
        grid-area: auto;

        &:nth-child(1) {
            @include bp(large) {
                grid-area: 1 / 1;
            }
        }

        &:nth-child(2) {
            @include bp(large) {
                grid-area: 2 / 1;
            }
        }

        &:nth-child(3) {
            @include bp(large) {
                grid-area: 2 / 2;
            }
        }

        &:nth-child(4) {
            @include bp(large) {
                grid-area: 3 / 1;
            }
        }

        &:nth-child(5) {
            @include bp(large) {
                grid-area: 3 / 2;
            }
        }

        &:nth-child(6) {
            @include bp(large) {
                grid-area: 4 / 1;
            }
        }

        &:nth-child(7) {
            @include bp(large) {
                grid-area: 4 / 2;
            }
        }

        &:nth-child(8) {
            @include bp(large) {
                grid-area: 5 / 1;
            }
        }

        &:nth-child(9) {
            @include bp(large) {
                grid-area: 5 / 2;
            }
        }

        &:nth-child(10) {
            @include bp(large) {
                grid-area: 5 / 3;
            }
        }

        &:nth-child(11) {
            @include bp(large) {
                grid-area: 6 / 1;
            }
        }

        &:nth-child(12) {
            @include bp(large) {
                grid-area: 6 / 2;
            }
        }

        &:nth-child(13) {
            @include bp(large) {
                grid-area: 6 / 3;
            }
        }

        input,
        textarea,
        select {
            width: 100%;
        }
    }
}

.c-forgot-password-page {
    .page-title {
        color: $color-black;
        font-family: $font-semi-bold;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.5rem;
    }
}

.c-forgot-password-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include bp(medium) {
        gap: 3rem;
    }
}

.c-forgot-password-intro {
    max-width: 48.875rem;
    margin: 0;

    color: $color-neutrals-500;
    font-family: $font-regular;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
}

.c-forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .c-form__text-input {
        width: 100%;

        @include bp(medium) {
            max-width: 20rem;
        }
    }

    .c-button {
        @include bp(medium) {
            width: fit-content;
        }
    }

    .g-recaptcha {
        display: flex;
        justify-content: center;
        align-items: center;

        @include bp(small) {
            justify-content: flex-start;
        }
    }

    br {
        display: none;
    }
}
