.p-create-account__form {
    display: grid;
    gap: 3rem;
}

.p-create-account__fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    @include bp(medium) {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    @include bp(large) {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .c-form__field {
        grid-area: auto;

        &:nth-child(1) {
            @include bp(large) {
                grid-area: 1 / 1;
            }
        }

        &:nth-child(2) {
            @include bp(large) {
                grid-area: 2 / 1;
            }
        }

        &:nth-child(3) {
            @include bp(large) {
                grid-area: 2 / 2;
            }
        }

        &:nth-child(4) {
            @include bp(large) {
                grid-area: 3 / 1;
            }
        }

        &:nth-child(5) {
            @include bp(large) {
                grid-area: 3 / 2;
            }
        }

        &:nth-child(6) {
            @include bp(large) {
                grid-area: 4 / 1;
            }
        }

        &:nth-child(7) {
            @include bp(large) {
                grid-area: 4 / 2;
            }
        }

        &:nth-child(8) {
            @include bp(large) {
                grid-area: 5 / 1;
            }
        }

        &:nth-child(9) {
            @include bp(large) {
                grid-area: 5 / 2;
            }
        }

        &:nth-child(10) {
            @include bp(large) {
                grid-area: 5 / 3;
            }
        }

        &:nth-child(11) {
            @include bp(large) {
                grid-area: 6 / 1;
            }
        }

        &:nth-child(12) {
            @include bp(large) {
                grid-area: 6 / 2;
            }
        }

        &:nth-child(13) {
            @include bp(large) {
                grid-area: 6 / 3;
            }
        }

        .c-form__input,
        .c-form__input--select {
            width: 100%;
        }
    }
}
