.c-forgot-password__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include bp(medium) {
        gap: 3rem;
    }
}

.c-forgot-password__intro {
    max-width: 48.875rem;
    margin: 0;

    color: $color-neutrals-500;
    font-family: $font-regular;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
}

.c-forgot-password__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .c-form__text-input {
        width: 100%;

        @include bp(medium) {
            max-width: 20rem;
        }
    }

    br {
        display: none;
    }
}
