.p-common__container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include bp(medium) {
        padding: 3rem 5rem;
        gap: 3rem;
    }
}

.p-common__title {
    color: $color-black;
    font-family: $font-semi-bold;
    font-size: rem-calc(24px);
    line-height: rem-calc(40px);
    font-style: normal;
    font-weight: 600;
    margin: 0;

    @include bp(medium) {
        font-size: rem-calc(42px);
        line-height: rem-calc(56px);
    }
}
