<div 
    id="{{id}}" 
    class="js-form-field c-form__field" 
    data-validation="{{validation}}" 
    {{#if private_id}}
        data-type="{{private_id}}"
    {{/if}}
>
    <label for="{{id}}" class="c-form__label">
        {{label}}
        {{#if required}}
            <small>*</small>
        {{/if}}
    </label>
    {{#if checkboxes}}
        {{#each checkboxes}}
            <input 
                type="checkbox"
                value="{{value}}"
                name="{{name}}"
                id="{{name}}"
                class="js-input c-form__checkbox-input"
                data-label="{{label}}"
                aria-labelledby="{{id}}"
                aria-live="polite"
                {{#if checked}}
                    checked 
                {{/if}}
                {{#if private_id}}
                    data-field-type="{{private_id}}"
                {{/if}}
            >
            <label class="{{class}} c-form__checkbox-label" for="{{name}}">
                {{label}}
            </label>
        {{/each}}
    {{/if}}
</div>
