{{#unless this.value}}
    <option class="c-input-option" value="">---</option>
    {{#each this.items}}
        <option value="{{value}}">
            {{label}}
        </option>
    {{/each}}
{{else}}
    {{#unless this.isRequired}}
        <option class="c-input-option" value="">---</option>
    {{/unless}}
    {{#each this.items}}
        <option class="c-input-option"
            {{#if ../this.value '==' value}} 
                selected 
            {{/if}}
            value="{{value}}"
        >
            {{label}}
        </option>
    {{/each}}
{{/unless}}
