<div class="js-form-field c-textarea-field" id="{{id}}" data-validation="{{validation}}">
    <label for="{{id}}_input" class="c-label">
        {{label}}
        {{#if required}}
            <small>*</small>
        {{/if}}
    </label>
    <textarea 
        name="{{name}}"
        id="{{id}}_input"
        data-label="{{label}}"
        rows="{{rows}}"
        aria-required="{{required}}"
        aria-labelledby="{{id}}"
        aria-live="polite"
        class="js-form-input js-input c-textarea-input"
        {{#if private_id}}
            data-field-type="{{private_id}}"
        {{/if}}
    >
        {{value}}
    </textarea>
</div>
