<div
    class="js-form-field c-form__field"
    id="{{id}}"
    data-validation="{{validation}}"
>
    <label for="{{id}}_input" class="c-form__label">
        {{label}} {{#if required}}
        <small>*</small>
        {{/if}}
    </label>
    <input type="number" class="js-form-input js-input c-form__input" data-label="{{label}}" data-rule="lowerThan" min="{{limitfrom}}" max="{{limitto}}"
    title="{{lang 'forms.range' limitFrom=limitfrom limitTo=limitto}}" value="{{value}}" id="{{id}}_input" name="{{name}}"
    aria-required="{{required}}" aria-labelledby="{{id}}" aria-live="polite" {{#if private_id}} data-field-type="{{private_id}}" {{/if}} {{#if
    required}} required {{/if}} >
</div>
