<div 
    class="js-form-field c-form__field" 
    id="{{id}}" 
    data-validation="{{validation}}" 
    {{#if private_id}}
        data-type="{{private_id}}"
    {{/if}}
>
    <label for="{{id}}_input" class="c-form__label">
        {{label}}
        {{#if required}}
            <small>*</small>
        {{/if}}
    </label>
    <input 
        type="password"
        class="js-form-input c-form__input"
        id="{{id}}_input"
        data-label="{{label}}"
        name="{{name}}"
        value="{{value}}"
        autocomplete="off"
        aria-required="{{required}}"
        aria-labelledby="{{id}}"
        aria-live="polite"
        {{#if private_id}}
            data-field-type="{{private_id}}"
        {{/if}}
        {{#if required}}
            required
        {{/if}}
    >
</div>
