<div 
    class="js-form-field c-form__field" 
    id="{{id}}" 
    data-validation="{{validation}}" 
    {{#if private_id}} 
        data-type="{{private_id}}"
    {{/if}}
>
    <label for="{{id}}_select" class="c-form__label">
        {{label}}
        {{#if required}}
            <small>*</small>
        {{/if}}
    </label>
    <select 
        class="{{class}} js-input c-form__input c-form__input--select"
        id="{{id}}_select"
        data-label="{{label}}"
        aria-required="{{required}}"
        aria-labelledby="{{id}}"
        aria-live="polite"
        name="{{name}}"
        {{#if private_id}} 
            data-field-type="{{private_id}}" 
        {{/if}}
        {{#if required}}
            required
        {{/if}}
    >
        {{#if options}}
            <option value="">{{chooseprefix}}</option>
            {{#each options}}
                <option {{#if selected}} selected {{/if}} value="{{value}}">
                    {{{label}}}
                </option>
            {{/each}}
        {{/if}}
    </select>
</div>
