{{#and theme_settings.shop_by_price_visibility shop_by_price}}
    <div>
        <div class="js-shop-by-price">
            {{lang 'category.shop_by_price'}}
        </div>
        <ul>
            {{#each shop_by_price}}
                <li>
                    <a
                        {{#if selected }} 
                            class="is-active js-nav-list-action" 
                            role="status" 
                            aria-live="assertive"
                        {{/if}} 
                        href="{{url}}"
                    >
                        {{lang 'category.filter_price_range'}} {{low.formatted}} - {{high.formatted}}
                    </a>
                    <span class="u-hidden-visually js-price-filter-message">
                        {{lang 'category.filter_select_announcement'}}
                    </span>
                </li>
            {{/each}}

            {{#any shop_by_price selected=true}}
                <li>
                    <a class="js-action-reset" href="{{category_url}}">
                        {{lang 'category.reset'}}
                    </a>
                    <span class="u-hidden-visually js-price-reset-message">
                        {{lang 'category.filter_reset_announcement'}}
                    </span>
                </li>
            {{/any}}
        </ul>
    </div>
{{/and}}
