<nav>
    {{#if category.subcategories}}
        <aside class="c-sidebar__box">
            <ul class="c-sidebar-box__list">
                {{#each category.subcategories}}
                    <li class="c-sidebar-box__item">
                        <a class="c-sidebar-box__link" href="{{url}}" title="{{name}}">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </aside>
    {{/if}}
    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
