<nav>
    {{#if category.subcategories}}
        <aside class="mb-6">
            <div class="font-semibold text-xl mb-2">
                {{category.name}}
            </div>
            <ul>
                {{#each category.subcategories}}
                    <li>
                        <a href="{{url}}" title="{{name}}">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </aside>
    {{/if}}
    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
</nav>
