{{inject 'passwordRequirements' settings.password_requirements}}
{{inject 'recaptchaTitle' (lang 'create_account.recaptcha_title')}}
{{#partial "page"}}
<section class="o-grid">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <h1 class="o-heading o-heading--l-mobile">
        {{lang 'create_account.heading' }}
    </h1>

    <div>
        <div>
            {{#if forms.create_account.error}}
                {{> components/common/alert/alert-error forms.create_account.error}}
            {{/if}}
            {{#if settings.account_creation_enabled}}
                <form 
                    action="{{urls.auth.save_new_account}}" 
                    class="js-create-account-form c-form--full c-form--create-account o-grid"
                    method="post"
                >
                    <div class="o-grid o-grid--cols-2@medium o-grid--cols-3@large">
                        {{#each forms.create_account.account_fields }}
                            <div class="c-form__field">
                                {{{dynamicComponent 'components/common/forms'}}}
                            </div>
                        {{/each}}
                        {{#each forms.create_account.address_fields }}
                            <div class="c-form__field">
                                {{{dynamicComponent 'components/common/forms'}}}
                            </div>
                        {{/each}}
                    </div>
                    {{inject 'required' (lang 'common.required')}}
                    {{inject 'state_error' (lang 'errors.state_error')}}
                    {{{ forms.create_account.recaptcha.markup}}}
                    <button type="submit" class="c-button c-button--primary c-button--full">
                        {{lang 'forms.create_account.submit_value' }}
                    </button> 
                </form>
            {{/if}}
        </div>
    </div>
</section>
{{/partial}}
{{> layout/base}}
