{{inject 'recaptchaTitle' (lang 'forgot_password.recaptcha_title')}}
{{#partial "page"}}
<section class="o-grid o-grid--main">
    <div class="o-grid__item--col-1-fill">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

    <h1 class="o-heading o-heading--l o-grid__item--col-1-fill">
        {{lang 'reset_password.heading' }}
    </h1>

    <div class="o-grid__item--col-1-fill o-grid__item--col-1/6@large">
        <p class="o-text o-text--l u-margin-bottom--m">
            {{lang 'reset_password.intro' }}
        </p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert/alert-error forms.forgot_password.error}}
        {{/if}}
        <form 
            action="{{urls.auth.send_password_email}}" 
            class="js-forgot-password-form o-grid o-grid--space-small" 
            method="post"
        >
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <div>
                <label class="form-label c-form__label" for="email">
                    {{lang 'common.email_address'}}
                     <span class="u-required">*</span>
                </label>
                <input 
                    class="js-form-input c-form__input c-form__input--full@mobile"
                    name="email" 
                    id="email" 
                    type="email" 
                    formnovalidate
                > 
            </div>
            {{{ forms.forgot_password.recaptcha.markup}}}
            <button type="submit" class="c-button c-button--primary c-button--full">
                {{lang 'reset_password.heading' }}
            </button> 
        </form>
    </div>
</section>
{{/partial}}
{{> layout/base}}
