{{inject 'recaptchaTitle' (lang 'forgot_password.recaptcha_title')}}
{{#partial "page"}}
<section class="p-auth__section">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="p-common__title">
        {{lang 'reset_password.heading' }}
    </h1>
    <div class="p-forgot-password__container">
        <p class="p-forgot-password__intro">
            {{lang 'reset_password.intro' }}
        </p>
        {{#if forms.forgot_password.error}}
            {{> components/common/alert/alert-error forms.forgot_password.error}}
        {{/if}}
        <form 
            action="{{urls.auth.send_password_email}}" 
            class="js-forgot-password-form p-forgot-password__form" 
            method="post"
        >
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            <div>
                <label class="form-label c-form__label" for="email">
                    {{lang 'common.email_address'}}
                     <span class="u-required">*</span>
                </label>
                <input 
                    class="js-form-input c-form__input" 
                    name="email" 
                    id="email" 
                    type="email" 
                    formnovalidate
                > 
            </div>
            {{{ forms.forgot_password.recaptcha.markup}}}
            <button type="submit" class="c-button c-button--primary c-button--full">
                {{lang 'reset_password.heading' }}
            </button> 
        </form>
    </div>
</section>
{{/partial}}
{{> layout/base}}
