{{#partial "page"}}
<div>
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    
    <h1>
        {{lang 'login.heading' }}
    </h1>
    
    {{#if forms.login.error}}
        {{> components/common/alert/alert-error forms.login.error}}
    {{/if}}
    {{#if forms.login.success}}
        {{> components/common/alert/alert-success forms.login.success}}
    {{/if}}
    <div>
        <form class="js-login-form" action="{{urls.auth.check_login}}" method="post">
            {{inject 'useValidEmail' (lang 'forms.validate.common.email_address')}}
            {{inject 'enterPass' (lang 'forms.validate.common.password')}}
            
            <div class="js-form-field">
                <label for="login_email">
                    {{lang 'login.field_email'}}
                </label>
                <input 
                    class="js-form-input" 
                    name="login_email" 
                    id="login_email" 
                    type="email"
                >
            </div>
            <div class="js-form-field">
                <label for="login_pass">
                    {{lang 'login.field_password'}}
                </label>
                <input 
                    class="js-form-input" 
                    id="login_pass" 
                    type="password" 
                    name="login_pass" 
                    autocomplete="off"
                >
            </div>
            <div>
                <button type="submit" class="c-button c-button--primary">
                    {{lang 'login.submit_value' }}
                </button> 
                <a href="{{urls.auth.forgot_password}}">
                    {{lang 'login.forgot_password' }}
                </a>
            </div>
        </form>
        {{#if settings.account_creation_enabled}}
            <div>
                <div>
                    {{lang 'login.new_customer.heading' }}
                </div>
                <div>
                    <p>{{lang 'login.new_customer.intro' }}</p>
                    <ul>
                        <li>{{lang 'login.new_customer.fact1' }}</li>
                        <li>{{lang 'login.new_customer.fact2' }}</li>
                        <li>{{lang 'login.new_customer.fact3' }}</li>
                        <li>{{lang 'login.new_customer.fact4' }}</li>
                        <li>{{lang 'login.new_customer.fact5' }}</li>
                    </ul>
                    <a href="{{urls.auth.create_account}}" class="c-button c-button--primary">
                        {{lang 'login.new_customer.create_account' }}
                    </a>
                </div>
            </div>
        {{/if}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
