{{inject 'passwordRequirements' settings.password_requirements}} {{#partial "page"}}
<div class="o-grid o-grid--main">
    <div class="o-grid__item--col-full">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

    <div class="o-grid__item--col-full">
        <div class="-grid o-grid--space-small">
             <h1 class="o-heading o-heading--l">
                {{lang 'forms.new_password.heading' }}
            </h1>
            
             <p>{{forms.new_password.requirements}}</p>
            
            {{#if forms.new_password.error}} 
                {{> components/common/alert/alert-error forms.new_password.error}} 
            {{/if}}
        </div>
    </div>

    <div class="o-grid__item--col-full o-grid__item--col-1/4@medium">
        <form
            action="{{forms.new_password.submit_url}}"
            class="js-new-password-form o-grid o-grid--space-small c-form c-form--full"
            method="post"
        >
            <div>
                <div class="js-form-field c-form__field">
                    <label for="password" class="c-form__label">
                        {{lang 'forms.new_password.password' }}
                        <small class="u-required">*</small>
                    </label>
                    <input
                        type="password"
                        class="js-form-input c-form__input"
                        name="password"
                        id="password"
                        autocomplete="off"
                    />
                </div>
                <div class="js-form-field c-form__field">
                    <label for="password_confirm" class="c-form__label">
                        {{lang 'forms.new_password.password2' }}
                        <small class="u-required">*</small>
                    </label>
                    <input
                        type="password"
                        class="js-form-input c-form__input"
                        name="password_confirm"
                        id="password_confirm"
                        autocomplete="off"
                    />
                </div>
            </div>
            <div>
                <button
                    class="c-button c-button--primary"
                    type="submit"
                >
                    {{lang 'forms.new_password.submit_value' }}
                </button>
            </div>
        </form>
    </div>
</div>
{{/partial}} {{> layout/base}}
