{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
<div class="shadow-inner">
    <div class="py-4 max-w-desktop mx-auto p-4 my-8">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <div class="font-bold text-3xl py-4">
            {{lang 'forms.new_password.heading' }}
        </div>
        <p>
            {{forms.new_password.requirements}}
        </p>
        {{#if forms.new_password.error}}
            {{> components/common/alert/alert-error forms.new_password.error}}
        {{/if}}
        <form action="rms.new_password.submit_url}}" class="js-new-password-form" method="post">
            <div>
                <div class="js-form-field flex flex-col gap-2 mt-2">
                    <label for="password">
                        {{lang 'forms.new_password.password' }}
                        <small>
                            {{lang 'common.required' }}
                        </small>
                    </label>
                    <input 
                        type="password" 
                        class="js-form-input" 
                        name="password" 
                        id="password" 
                        autocomplete="off"
                    >
                </div>
                <div class="js-form-field flex flex-col gap-2 mt-2">
                    <label for="password_confirm">
                        {{lang 'forms.new_password.password2' }}
                        <small>
                            {{lang 'common.required' }}
                        </small>
                    </label>
                    <input 
                        type="password" 
                        class="js-form-input" 
                        name="password_confirm" 
                        id="password_confirm" 
                        autocomplete="off"
                    >
                </div>
            </div>
            <div>
                <button class="c-button c-button--primary border border-black py-1 px-3 cursor-pointer bg-black text-white hover:bg-transparent hover:text-black text-center" type="submit">
                    {{lang 'forms.new_password.submit_value' }}
                </button>
            </div>
        </form>
    </div>
</div>
{{/partial}}
{{> layout/base}}
