<ul>
    {{#each this}}
        <li class="js-nav-list-item">
            <a
                href="{{url}}"
                class="js-nav-list-action{{#if selected}} is-selected{{/if}}{{#if has_sub_categories}} has-children{{/if}}"
                rel="nofollow"
                data-id="{{id}}"
            >
                {{{sanitize title}}}
                {{#if ../show_product_counts}}
                    {{#if count}}
                        <span>({{count}})</span>
                    {{/if}}
                {{/if}}
            </a>
            {{#if children}}
                {{> components/faceted-search/facets/hierarchy-children children}}
            {{/if}}
        </li>
    {{/each}}
</ul>
