<ul>
    {{#each this}}
        <li class="js-nav-list-item c-facet__item">
            <a
                href="{{url}}"
                class="js-nav-list-action{{#if selected}} is-selected{{/if}}{{#if has_sub_categories}} has-children{{/if}} js-faceted-search-facet c-facet__link"
                rel="nofollow"
                data-id="{{id}}"
            >
                {{strReplace (sanitize title) "(dropdown)" ""}}
            </a>
            {{#if children}}
                {{> components/faceted-search/facets/hierarchy-children children}}
            {{/if}}
        </li>
    {{/each}}
</ul>
