{{#if items}}
    <div>
        {{> components/faceted-search/faceted-search-navigation}}

        <div 
            id="{{dashcase facet}}" 
            class="{{#unless start_collapsed}} is-open{{/unless}}"
        >
            <ul 
                id="list-{{dashcase facet}}" 
                data-facet="{{facet}}" 
                data-has-more-results="{{has_more_results}}"
            >
                {{#each items}}
                    <li class="js-nav-list-item">
                        <a
                            href="{{url}}"
                            class="{{#if selected}} is-selected{{/if}}"
                            rel="nofollow"
                            data-faceted-search-facet>
                            {{{sanitize title}}}
                            {{#if ../show_product_counts}}
                                <span>({{count}})</span>
                            {{/if}}

                            <svg aria-hidden="true">
                                <use href="#icon-close"/>
                            </svg>
                        </a>
                    </li>
                {{/each}}
            </ul>

            {{#if show_more_toggle}}
                <a href="#list-{{dashcase facet}}" role="button" class="js-toggle-link">
                    {{lang 'search.faceted.show-more'}}
                </a>
            {{/if}}
        </div>
    </div>
{{/if}}
