<div>
    {{> components/faceted-search/faceted-search-navigation}}
    <div id="{{dashcase facet}}" class="{{#unless start_collapsed}} is-open{{/unless}}">
        <form class="js-facets-search-range-form" method="get" data-faceted-search-range novalidate>
            <input type="hidden" name="search_query" value="{{search_query}}">
            {{#if this.sort}}
                <input type="hidden" name="sort" value="{{this.sort}}">
            {{/if}}
            <fieldset class="js-form-fieldset">
                <div>
                    <div class="js-form-field">
                        <input
                            name="min_price"
                            placeholder="{{lang 'search.faceted.range.min-placeholder'}}"
                            min="0"
                            class="js-form-input"
                            type="number"
                            value="{{min_price}}"
                            required
                        >
                    </div>

                    <div class="js-form-field">
                        <input
                            name="max_price"
                            placeholder="{{lang 'search.faceted.range.max-placeholder'}}"
                            min="0"
                            class="js-form-input"
                            type="number"
                            value="{{max_price}}"
                            required
                        >
                    </div>

                    <div class="js-form-field">
                        <button class="c-button button--small" type="submit">
                            {{lang 'search.faceted.range.update'}}
                        </button>
                    </div>
                </div>
                <div class="form-inlineMessage"></div>
            </fieldset>
        </form>
    </div>
</div>
