{{#if items}}
    <div class="c-facet">
        {{> components/faceted-search/faceted-search-navigation}}

        <div 
            id="facets-{{dashcase facet}}" 
            class="c-facet__wrapper{{#unless start_collapsed}} is-open{{/unless}}"
        >
            <ul class="js-facets-search-nav-list">
                {{#each items}}
                    <li class="js-nav-list-item c-facet__item">
                        <a 
                            href="{{url}}"
                            class="{{#if selected}}is-selected{{/if}} js-faceted-search-facet c-facet__link"
                            rel="nofollow"
                        >
                            <span>
                                {{> components/products/ratings rating=title}}
                            </span>
                            {{lang 'search.faceted.rating.and-up'}}
                            
                            {{#if ../show_product_counts}}
                                <span>({{count}})</span>
                            {{/if}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}
