<nav>
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index brand}}
    {{else}}
        {{#if shop_by_brand}}
            <div>
                <div>
                    {{lang 'brand.label'}}
                </div>
                <ul>
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">
                                {{name}}
                            </a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.brands}}">
                            {lang 'common.view_all'}}
                        </a>
                    </li>
                </ul>
            </div>
        {{/if}}
    {{/if}}
</nav>
