<link href="/assets/css/swiper-bundle.min.css" rel="stylesheet" />

<section class="js-home-swiper c-carousel relative max-w-desktop mx-auto overflow-hidden">
    <div class="swiper-wrapper">
        {{#each carousel.slides}}
            <div class="swiper-slide{{#if ../theme_settings.homepage_stretch_carousel_images}} is-stretch{{/if}}{{#if @first}} is-first{{/if}}">
                {{#if @first}}
                    {{> components/common/image
                        image=stencil_image
                        fallback_size='1280w'
                    }}
                {{else}}
                    {{> components/common/image
                        image=stencil_image
                        fallback_size='1280w'
                    }}
                {{/if}}
                {{#or heading text button_text}}
                    {{> components/carousel/content}}
                {{/or}}
            </div>
        {{/each}}
    </div>

    <div class="absolute top-1/2 w-full flex justify-between z-10">
        <div class="js-swiper-btn-prev border border-black py-1 px-3 cursor-pointer hover:bg-black hover:text-white">Previous</div>
        <div class="js-swiper-btn-next ml-auto border border-black py-1 px-3 cursor-pointer hover:bg-black hover:text-white">Next</div>
    </div>
</section>
