<section class="js-home-swiper c-carousel">
    <div class="swiper-wrapper">
        {{#each carousel.slides}}
            <div class="swiper-slide{{#if ../theme_settings.homepage_stretch_carousel_images}} is-stretch{{/if}}{{#if @first}} is-first{{/if}}">
                {{#if @first}}
                    {{> components/common/image
                        image=stencil_image
                        fallback_size='1280w'
                    }}
                {{else}}
                    {{> components/common/image
                        image=stencil_image
                        fallback_size='1280w'
                    }}
                {{/if}}
                {{#or heading text button_text}}
                    {{> components/carousel/content}}
                {{/or}}
            </div>
        {{/each}}
    </div>

    <div class="c-carousel__navigation">
        <div class="js-swiper-btn-prev c-carousel__btn-prev"></div>
        <div class="js-swiper-pagination c-carousel__pagination"></div>
        <div class="js-swiper-btn-next c-carousel__btn-next"></div>
    </div>
</section>
