<div class="{{#and (if heading '==' false) (if text '==' false)}} is-empty{{/and}} 
    md:absolute top-1/3 left-1/3 
    md:max-w-[50%] 
    flex flex-col justify-center items-center 
    py-8 px-10 
    bg-white md:bg-opacity-20 md:backdrop-blur"
>
    {{#if heading}}
        <div class="font-bold text-3xl mb-4">
            {{{heading}}}
        </div>
    {{/if}}
    {{#if text}}
        <div class="mb-4">
            {{{text}}}
        </div>
    {{/if}}
    {{#if button_text}}
        <a href="{{url}}" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}, {{button_text}}" class="c-button--primary">
            {{{button_text}}}
        </a>
    {{/if}}
</div>
