<div id="add-to-cart-wrapper" {{#unless product.can_purchase}}style="display: none"{{/unless}}>
    {{#if theme_settings.show_product_quantity_box}}
        {{inject 'productQuantityErrorMessage'  (lang 'products.quantity_error_message')}}
        <div class="js-form-field js-form-field-increments">
            <label for="qty[]">
                {{lang 'products.quantity'}}
            </label>

            <div class="js-quantity-change">
                <button class="c-button" data-action="dec">
                    <span class="u-hidden-visually">
                        {{lang 'products.quantity_decrease' name=product.title}}
                    </span>
                    <svg>
                        <use href="#icon-keyboard-arrow-down"/>
                    </svg>
                </button>

                <input class="js-form-input js-form-input-increment-total"
                    id="qty[]"
                    name="qty[]"
                    type="tel"
                    value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                    data-quantity-min="{{product.min_purchase_quantity}}"
                    data-quantity-max="{{product.max_purchase_quantity}}"
                    min="1"
                    pattern="[0-9]*"
                    aria-live="polite"
                >

                <button class="c-button" data-action="inc">
                    <span class="u-hidden-visually">
                        {{lang 'products.quantity_increase' name=product.title}}
                    </span>
                    <svg>
                        <use href="#icon-keyboard-arrow-up"/>
                    </svg>
                </button>
            </div>
        </div>
    {{/if}}

    <div class="js-product-attributes-message" style="display:none">
        <div>
            <svg>
                <use xlink:href="#icon-error" />
            </svg>
        </div>
        <p class="js-alert-box-message"></p>
    </div>

    {{#or customer (unless settings.hide_price_from_guests)}}
        <div>
            <div>
                <button
                    data-wait-message="{{lang 'products.adding_to_cart'}}"
                    class="c-button c-button--primary c-button__add-to-cart js-form-action-add-to-cart"
                    type="submit"
                    value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}"
                >
                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 5L4 1H16L19 5M1 5V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H17C17.5304 21 18.0391 20.7893 18.4142 20.4142C18.7893 20.0391 19 19.5304 19 19V5M1 5H19M14 9C14 10.0609 13.5786 11.0783 12.8284 11.8284C12.0783 12.5786 11.0609 13 10 13C8.93913 13 7.92172 12.5786 7.17157 11.8284C6.42143 11.0783 6 10.0609 6 9" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{#if product.pre_order}}
                        {{lang 'products.pre_order'}}
                    {{else}}
                        {{lang 'products.add_to_cart'}}
                    {{/if}}
                </button>
                <span class="u-hidden">
                    {{lang 'products.adding_to_cart'}} {{lang 'category.add_cart_announcement'}}
                </span>
            </div>
            
            {{#if this.with_wallet_buttons}}
                <div class="js-add-to-cart-wallet-buttons">
                    {{> components/common/wallet-buttons}}
                </div>
            {{/if}}
        </div>
    {{/or}}
</div>
