<article
    class="c-card__article"
    data-test="card-{{id}}"
    {{#if settings.data_tag_enabled}}
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
            {{#each category}}
                {{#if @last}}
                    {{this}}
                {{else}}
                    {{this}},
                {{/if}}
            {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
            {{#or customer (unless settings.hide_price_from_guests)}}
                {{#if price.with_tax}}
                    {{price.with_tax.value}}
                {{else}}
                    {{price.without_tax.value}}
                {{/if}}
            {{else}}
                {{lang 'common.login_for_pricing'}}
            {{/or}}"
    {{/if}}
>
    <figure class="c-card__figure">
        {{#if stock_level '===' 0}}
            {{#if theme_settings.pdp_sold_out_label '===' ''}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=(lang "page_builder.pdp_sold_out_label")
                }}
            {{else}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=theme_settings.pdp_sold_out_label
                }}
            {{/if}}
        {{else}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                {{#if theme_settings.pdp_sale_badge_label '===' ''}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=(lang "page_builder.pdp_sale_badge_label")
                    }}
                {{else}}
                    {{> components/products/product-badge
                        badge-type='sale'
                        badge_view=theme_settings.product_sale_badges
                        badge_label=theme_settings.pdp_sale_badge_label
                    }}
                {{/if}}
            {{/or}}
        {{/if}}

        <a 
            class="c-card__image"
            href="{{url}}"
            aria-label="{{> components/products/product-info}}"
            {{#if settings.data_tag_enabled}} 
                data-event-type="product-click" 
            {{/if}}
        >
            {{> components/common/image
                image=image
                fallback_size=theme_settings.product_gallery_size
                default_image=theme_settings.default_image_product
            }}
        </a>
        {{> components/common/wishlist-add add_to_wishlist_url=add_to_wishlist_url}}
    </figure>
    <div class="c-card__product-information">
        {{#if show_compare}}
            <div class="js-form-field c-form__checkbox-field">
                <input 
                    class="c-form__checkbox-input"
                    type="checkbox" 
                    name="products[]" 
                    value="{{id}}" 
                    id="compare-{{id}}" 
                    data-compare-id="{{id}}"
                >
                <label class="c-form__checkbox-label" for="compare-{{id}}">
                    {{lang 'products.compare'}} 
                </label>
            </div>
        {{/if}}
        <a 
            class="c-card__title"
            aria-label="{{> components/products/product-info}}"
            href="{{url}}"
            {{#if settings.data_tag_enabled}} 
                data-event-type="product-click" 
            {{/if}}
        >
            {{name}}
        </a>

        {{#and rating show_rating}}
            <p class="c-card__rating" data-test-info-type="productRating">
                <span>
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
                <a class="c-card__rating-count" href="{{url}}#reviews">({{num_reviews}})</a>
            </p>
        {{/and}}

        <div class="c-card__price" data-test-info-type="price">
            {{#or customer (unless settings.hide_price_from_guests)}}
                {{> components/products/price price=price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}
    </div>
</article>
