<section class="js-product-swiper c-carousel">
    <div class="swiper-wrapper">
        {{#each products}}
            <div class="swiper-slide">
                {{> components/products/card-alternate settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </div>
        {{/each}}
    </div>
    
    {{#if products.length '>' 1}}
        {{> components/carousel/content-announcement}}
    {{/if}}

    <div class="c-carousel__navigation">
        <div class="c-carousel__btn-prev js-swiper-btn-prev"></div>
        <div class="c-carousel__pagination js-swiper-pagination"></div>
        <div class="c-carousel__btn-next js-swiper-btn-next"></div>
    </div>
</section>
