{{> components/custom/web-components/xslider-component }}

<section class="c-carousel">
    <xslider-component desktop-columns="1">
        {{#each products}}
            <div id="Slide-{{ @index }}">
                {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </div>
        {{/each}}
    </xslider-component>
    
    {{#if products.length '>' 1}}
        {{> components/carousel/content-announcement}}
    {{/if}}

    <div>
        <div class="js-swiper-btn-prev">Previous</div>
        <div class="js-swiper-btn-next">Next</div>
    </div>
</section>
