<ul class="js-tabs flex gap-2">
    {{#if product.description}}
        <li class="js-tab is-active">
            <a href="#tab-description" class="font-bold hover:underline uppercase">
                {{lang 'products.description'}}
            </a>
        </li>
    {{/if}}

    {{#if product.warranty}}
        <li class="js-tab {{#unless product.description}}is-active{{/unless}}">
            <a href="#tab-warranty" class="font-bold hover:underline uppercase">
                {{lang 'products.warranty'}}
            </a>
        </li>
    {{/if}}

    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <li class="js-tab">
            <a href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp_custom_fields_tab_label))}}" class="font-bold hover:underline uppercase">
                {{sanitize theme_settings.pdp_custom_fields_tab_label}}
            </a>
        </li>
    {{/all}}
</ul>

<div>
    {{#if product.description}}
        <div class="is-active" id="tab-description">
            {{{product.description}}}
        </div>
    {{/if}}

    {{#if product.warranty}}
        <div class="{{#unless product.description}}is-active{{/unless}}" id="tab-warranty">
            {{{product.warranty}}}
        </div>
    {{/if}}

    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
      <div id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp_custom_fields_tab_label))}}">
         <dl class="js-product-view-info">
            {{> components/products/custom-fields }}
         </dl>
      </div>
    {{/all}}

    {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
       <div class="mt-4">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
    {{/all}}
</div>
