<ul class="js-tabs" data-tab>
    {{#if product.description}}
        <li class="js-tab js-active">
            <a href="#tab-description">
                {{lang 'products.description'}}
            </a>
        </li>
    {{/if}}
    {{#if product.warranty}}
        <li class="js-tab {{#unless product.description}}js-active{{/unless}}">
            <a href="#tab-warranty">
                {{lang 'products.warranty'}}
            </a>
        </li>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
        <li class="js-tab">
            <a href="#js-tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
                {{sanitize theme_settings.pdp-custom-fields-tab-label}}
            </a>
        </li>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
        <li class="js-tab">
            <a class="js-product-view-review-tab-link" href="#tab-reviews">
                {{lang 'products.reviews.header' total=product.reviews.total}}
            </a>
        </li>
    {{/all}}
</ul>
<div class="tabs-contents">
    {{#if product.description}}
        <div class="js-active" id="tab-description">
            {{{product.description}}}
        </div>
    {{/if}}
    {{#if product.warranty}}
        <div class="{{#unless product.description}}js-active{{/unless}}" id="tab-warranty">
            {{{product.warranty}}}
        </div>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
      <div id="js-tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
         <dl class="js-product-view-info">
            {{> components/products/custom-fields }}
         </dl>
      </div>
    {{/all}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
       <div class="tab-content" id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
       </div>
    {{/all}}
</div>
