<section class="js-featured-swiper c-carousel">
    <h2 class="c-carousel__title">{{lang 'products.featured' }}</h2>

    <ul
        class="swiper-wrapper {{ columns }}"
        data-product-type="featured"
        {{#if settings.data_tag_enabled}} 
            data-list-name="Featured Products" 
        {{/if}}
    >    
        {{#each products}}
            <li class="js-product swiper-slide">
                {{>components/products/card-alternate settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </li>
        {{/each}}
    </ul>

    <div class="c-carousel__navigation">
        <div class="js-swiper-btn-prev c-carousel__btn-prev"></div>
        <div class="js-swiper-pagination c-carousel__pagination"></div>
        <div class="js-swiper-btn-next c-carousel__btn-next"></div>
    </div>
</section>
