{{#and price.retail_price_range.min.with_tax price.retail_price_range.max.with_tax}}
    <div class="js-rrp-price-with-tax">
        <span>
            {{> components/products/price-label
                label_value=theme_settings.pdp-retail-price-label
                fallback=(lang "page_builder.pdp-retail-price-label")
            }}
        </span>
        <span class="js-product-rrp-price-with-tax">
            {{price.retail_price_range.min.with_tax.formatted}} - {{price.retail_price_range.max.with_tax.formatted}}
        </span>
    </div>
{{else}}
    {{#if price.with_tax}}
        <div style="display: none;">
            <span>
                {{> components/products/price-label
                    label_value=theme_settings.pdp-retail-price-label
                    fallback=(lang "page_builder.pdp-retail-price-label")
                }}
            </span>
            <span class="js-product-rrp-with-tax">
                {{price.rrp_with_tax.formatted}}
            </span>
        </div>
    {{/if}}
{{/and}}

{{#and price.price_range.min.with_tax price.price_range.max.with_tax}}
    {{!-- Never display the "non-sales price" if there is a price range to be shown, but we do want the element on the page --}}
    <div class="js-non-sale-price-with-tax" style="display: none;">
        <span>
            {{> components/products/price-label
                label_value=theme_settings.pdp-non-sale-price-label
                fallback=(lang "page_builder.pdp-non-sale-price-label")
            }}
        </span>
        <span class="js-product-non-sale-price-with-tax">
            {{price.non_sale_price_with_tax.formatted}}
        </span>
    </div>
    <div>
        <span class="js-price-label">
            {{theme_settings.pdp-price-label}}
        </span>
        <span class="js-price-now-label" style="display: none;">
            {{> components/products/price-label
                label_value=theme_settings.pdp-sale-price-label
                fallback=(lang "page_builder.pdp-sale-price-label")
            }}
        </span>
        <span class="js-product-price-with-tax">
            {{price.price_range.min.with_tax.formatted}} - {{price.price_range.max.with_tax.formatted}}
        </span>
        {{#and price.price_range.min.without_tax price.price_range.max.without_tax}}
            <abbr title="{{lang 'products.including_tax'}}">
                {{lang 'products.price_with_tax' tax_label=price.price_range.min.tax_label}}
            </abbr>
        {{/and}}
    </div>
{{/and}}

{{#and price.retail_price_range.min.without_tax price.retail_price_range.max.without_tax}}
    <div class="{{#if price.with_tax}}price-section-minor{{/if}}">
        <span>
            {{> components/products/price-label
                label_value=theme_settings.pdp-retail-price-label
                fallback=(lang "page_builder.pdp-retail-price-label")
            }}
        </span>
        <span class="js-product-rrp-price-without-tax">
            {{price.retail_price_range.min.without_tax.formatted}} - {{price.retail_price_range.max.without_tax.formatted}}
        </span>
    </div>
{{else}}
    {{#if price.without_tax}}
        <div class="{{#if price.with_tax}}price-section-minor{{/if}}" style="display: none;">
            <span>
                {{> components/products/price-label
                    label_value=theme_settings.pdp-retail-price-label
                    fallback=(lang "page_builder.pdp-retail-price-label")
                }}
            </span>
            <span class="js-product-rrp-price-without-tax">
                {{price.rrp_without_tax.formatted}}
            </span>
        </div>
    {{/if}}
{{/and}}

{{#and price.price_range.min.without_tax price.price_range.max.without_tax}}
    {{!-- Never display the "non-sales price" if there is a price range to be shown, but we do want the element on the page --}}
    <div class="js-non-sale-price-without-tax{{#if price.with_tax}} price-section-minor{{/if}}" style="display: none;">
        <span>
            {{> components/products/price-label
                label_value=theme_settings.pdp-non-sale-price-label
                fallback=(lang "page_builder.pdp-non-sale-price-label")
            }}
        </span>
        <span class="js-product-non-sale-price-without-tax">
            {{price.non_sale_price_without_tax.formatted}}
        </span>
    </div>
    <div class="{{#and price_range.min.with_tax price_range.max.with_tax}}price-section-minor{{/and}}">
        <span>
            {{theme_settings.pdp-price-label}}
        </span>
        <span style="display: none;">
            {{> components/products/price-label
                label_value=theme_settings.pdp-sale-price-label
                fallback=(lang "page_builder.pdp-sale-price-label")
            }}
        </span>
        <span class="js-product-price-without-tax">
            {{price.price_range.min.without_tax.formatted}} - {{price.price_range.max.without_tax.formatted}}
        </span>
        {{#and price.price_range.min.with_tax price.price_range.max.with_tax}}
            <abbr title="{{lang 'products.excluding_tax'}}">
                {{lang 'products.price_without_tax' tax_label=price.price_range.min.tax_label}}
            </abbr>
        {{/and}}
    </div>
{{/and}}

{{!-- Never display the "saving price" element by default if there is a price range on the page to be shown --}}
{{#if page_type '===' 'product'}}
    <div class="js-price-section-saving" style="display: none;">
        <span>
            {{lang 'products.you_save_opening_text'}}
        </span>
        <span class="js-product-price-saved">
            {{price.saved.formatted}}
        </span>
        <span>
            {{lang 'products.you_save_closing_bracket'}}
        </span>
    </div>
{{/if}}
