{{!-- There are 2 code paths for generating the PDP pricing HTML determined by the following #and condition.
If a 'price_range' exists then we generate all HTML in price-range.html, otherwise it is defined here. Both code
paths generate the same HTML structure with some differences in whether that element is displayed by default (css styling).

If you are making a change here or in price-range.html, you probably want to make that change in both files. --}}

{{#and price.price_range (if theme_settings.price_ranges '==' true)}}
    {{> components/products/price-range price=price}}
{{else}}
    {{#if price.with_tax}}
        <div class="js-non-sale-price-with-tax" {{#unless price.non_sale_price_with_tax}}style="display: none;"{{/unless}}>
            <span class="js-product-non-sale-price-with-tax c-price__with-tax c-price__with-tax--non-sale">
                {{price.non_sale_price_with_tax.formatted}}
            </span>
        </div>
        <div>
            </span>
            <span class="js-product-price-with-tax c-price__with-tax">
                {{price.with_tax.formatted}}
            </span>
            {{#if price.without_tax}}
                <abbr title="{{lang 'products.including_tax'}}">
                    {{lang 'products.price_with_tax' tax_label=price.tax_label}}
                </abbr>
            {{/if}}
        </div>
    {{/if}}
    {{#if price.without_tax}}
        <div class="js-rrp-price-without-tax c-price__without-tax c-price__without-tax--sale{{#if price.with_tax}} price-section-minor{{/if}}" {{#unless price.rrp_without_tax}}style="display: none;"{{/unless}}>
            <span>
                {{> components/products/price-label
                    label_value=theme_settings.pdp_retail_price_label
                    fallback=(lang "page_builder.pdp_retail_price_label")
                }}
            </span>
            <span class="js-product-rrp-price-without-tax c-price__without-tax">
                {{price.rrp_without_tax.formatted}}
            </span>
        </div>
        <div class="js-non-sale-price-without-tax c-price__without-tax c-price__without-tax--non-sale{{#if price.with_tax}} price-section-minor{{/if}}" {{#unless price.non_sale_price_without_tax}}style="display: none;"{{/unless}}>
            <span>
                {{> components/products/price-label
                    fallback=(lang "page_builder.pdp_non_sale_price_label")
                }}
            </span>
            <span class="js-product-non-sale-price-without-tax c-price__without-tax c-price__without-tax--non-sale">
                {{price.non_sale_price_without_tax.formatted}}
            </span>
        </div>
        <div>
            <span class="js-price-label" {{#if price.non_sale_price_without_tax}}style="display: none;"{{/if}}>
                {{theme_settings.pdp_price_label}}
            </span>
            <span class="js-price-now-label" {{#unless price.non_sale_price_without_tax}}style="display: none;"{{/unless}}>
                {{> components/products/price-label
                    fallback=(lang "page_builder.pdp_sale_price_label")
                }}
            </span>
            <span class="js-product-price-without-tax c-price__without-tax{{#if price.with_tax}} price-section-minor{{/if}}">
                {{price.without_tax.formatted}}
            </span>
            {{#if price.with_tax}}
                <abbr title="{{lang 'products.excluding_tax'}}">
                    {{lang 'products.price_without_tax' tax_label=price.tax_label}}
                </abbr>
            {{/if}}
        </div>
    {{/if}}
    {{#if page_type '===' 'product'}}
        <div class="js-price-section-saving" {{#unless price.saved}}style="display: none;"{{/unless}}>
            <span>
                {{lang 'products.you_save_opening_text'}}
            </span>
            <span class="js-product-price-saved">
                {{price.saved.formatted}}
            </span>
            <span>
                {{lang 'products.you_save_closing_bracket'}}
            </span>
        </div>
    {{/if}}
{{/and}}
