{{#if badge_view '===' 'sash'}}
    <div class="{{badge-type}}">
        <span class="{{badge-type}}">
            {{{badge_label}}}
        </span>
    </div>
{{else if badge_view '===' 'topleft'}}
    <div class="{{badge-type}}">
        <span class="{{badge-type}}">
            {{{badge_label}}}
        </span>
    </div>
{{else if badge_view '===' 'burst'}}
    <div>
        <div class="{{badge-type}}">
            {{{badge_label}}}
        </div>
        <div class="{{badge-type}}"></div>
    </div>
{{/if}}
