<div class="js-product-view u-container c-product"
    {{#if settings.data_tag_enabled}}
        data-event-type="product"
        data-entity-id="{{product.id}}"
        data-name="{{product.title}}"
        data-product-category="
            {{#each product.category}}
                {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
            {{/each}}"
        data-product-brand="{{product.brand.name}}"
        data-product-price="
            {{#or customer (unless settings.hide_price_from_guests)}}
                {{#if product.price.with_tax}}
                    {{product.price.with_tax.value}}
                {{else}}
                    {{product.price.without_tax.value}}
                {{/if}}
            {{else}}
                {{lang 'common.login_for_pricing'}}
            {{/or}}"
        data-product-variant="single-product-option"
    {{/if}}
>
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="js-product-view-images js-image-gallery c-product__gallery">
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}
        {{#if product.images.length '>' 1 }}
            {{> components/carousel/content-announcement}}
        {{/if}}

        <figure class="js-product-view-image js-image-gallery-main c-product__image-wrapper"
            {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
            {{/if}}
        >
            {{#each product.custom_fields}}
                {{#all (if name '===' 'top_seller') (if value '===' 'yes')}}
                        <span class="c-product__tag">Top Seller</span>
                {{/all}}
            {{/each}}

            {{!-- Remove the surrounding a-element if there is no main image. --}}
            {{#if product.main_image}}
                <a 
                    class="c-product__image-link"
                    href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                    target="_blank"
                >
            {{/if}}

            {{> components/common/image
                image=product.main_image
                class="js-main-image c-product__image"
                fallback_size=theme_settings.product_size
                default_image=theme_settings.default_image_product
            }}
            {{!-- Remove the surrounding a-element if there is no main image. --}}
            {{#if product.main_image}}
                </a>
            {{/if}}
        </figure>

        <ul class="o-list-bare c-product__thumbs js-product-view-thumbnails">
            {{#each product.images}}
                <li>
                    <a
                        class="js-image-gallery-item c-product__thumb"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/image
                        image=this
                        fallback_size=../theme_settings.product_view_thumb_size
                        class="c-product__thumb-image"
                    }}
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>
    <div class="c-product__header">
        <h1 class="js-product-view-title c-product__title">
            {{product.title}}
        </h1>
        
        <div class="c-product__reviews">
            {{#if settings.show_product_rating}}
                {{> components/products/ratings rating=product.rating}}

                {{#if product.num_reviews '>' 0}}
                    <a href="{{product.url}}{{#if is_ajax}}#product-reviews{{/if}}" class="js-product-review-link c-product__review-link">
                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                    </a>
                {{else}}
                    <span>
                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                    </span>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <section class="c-product__info">
        
        {{product.detail_messages}}

        {{> components/products/description}}

        <div class="c-product__pricing">
            {{#or customer (unless settings.hide_price_from_guests)}}
                {{> components/products/price price=product.price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        {{{region name="product_below_price"}}}
        <div>
            <form 
                class="js-cart-item-add" 
                method="post" 
                action="{{product.cart_url}}" 
                enctype="multipart/form-data"
            >
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>

                <div class="js-product-option-change" style="display:none;">
                    {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                <div class="js-form-field js-form-field-stock{{#unless product.stock_level}} u-hidden-visually{{/unless}}">
                    <label>
                        {{lang 'products.current_stock'}}
                        <span class="js-product-stock">
                            {{product.stock_level}}
                        </span>
                    </label>
                </div>

                <div class="c-product__action-buttons">
                    {{> components/products/add-to-cart with_wallet_buttons=true}}

                    {{#if settings.show_wishlist}}
                        {{> components/common/wishlist-dropdown}}
                    {{/if}}
                </div>
                
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
            </form>
        </div>
    </section>
</div>

<div class="js-preview-modal is-modal-large js-reveal c-modal">
    <div class="c-modal__content-wrapper">
        {{> components/common/modal/modal-close-btn }}
        <div class="js-modal-content c-modal__content"></div>
    </div>
    <div class="js-loading-overlay"></div>
</div>
