<span role="img"
    {{#if rating_target}}
      aria-label="{{lang 'products.reviews.rating_aria_label' rating_target=rating_target current_rating=rating max_rating=5}}"
    {{else}}
      aria-label="{{lang 'products.reviews.rating_aria_label' rating_target='Product' current_rating=rating max_rating=5}}"
    {{/if}}
    class="flex"
>
    {{#for 1 5}}
        {{#if ../this.rating '>=' $index}}
            <span>
                <svg class="w-4 h-4">
                    <use href="#icon-star" />
                </svg>
            </span>
        {{else}}
            <span>
                <svg class="w-4 h-4">
                    <use href="#icon-star" />
                </svg>
            </span>
        {{/if}}
    {{/for}}
</span>
