<div>
    {{#if product.related_products}}
        <div 
            class="mb-8" 
            id="tab-related"
        >
            <strong class="font-bold text-xl mb-4">{{lang 'products.related_products'}}</strong>

            {{#if settings.data_tag_enabled}}
                {{> components/products/carousel products=product.related_products list="Related Products"}}
            {{else}}
                {{> components/products/carousel products=product.related_products }}
            {{/if}}
        </div>
    {{/if}}

    {{#if product.similar_by_views}}
        <div 
            class="mb-8" 
            id="tab-similar"
        >
            <strong class="font-bold text-xl mb-4">{{lang 'products.similar_by_views'}}</strong>

            {{> components/products/carousel products=product.similar_by_views list="Customers Also Viewed"}}
        </div>
    {{/if}}
</div>
