<section class="c-carousel js-product-swiper">
    <h2 class="c-carousel__title">
        {{lang 'products.top' }}
    </h2>

    <ul 
        class="swiper-wrapper {{ columns }}" 
        data-product-type="top_sellers"  
        {{#if settings.data_tag_enabled}} 
            data-list-name="Most Popular Products" 
        {{/if}}
    >
        {{#each products}}
            <li class="js-product swiper-slide">
                {{>components/products/card-alternate settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
            </li>
        {{/each}}
    </ul>

    <div class="c-carousel__navigation">
        <div class="js-swiper-btn-prev c-carousel__btn-prev"></div>
        <div class="js-swiper-pagination c-carousel__pagination"></div>
        <div class="js-swiper-btn-next c-carousel__btn-next"></div>
    </div>
</section>
