<section>
    <h4>
        {{lang 'products.videos.header'}}
        <a href="#video-gallery-content" class="js-toggle-link is-open js-collapsible">
            <span>
                {{lang 'products.videos.hide'}}
            </span>
            <span>
                {{lang 'products.videos.show'}}
            </span>
        </a>
    </h4>

    <div class="is-open" id="video-gallery-content">
        <div>
            <iframe
                class="js-video-player"
                id="player"
                loading="lazy"
                type="text/html"
                width="640"
                height="390"
                frameborder="0"
                src="//www.youtube.com/embed/{{this.featured.id}}?rel=0">
            </iframe>
        </div>
        <ul>
        {{#each this.list}}
            <li>
                <a href="#" class="js-video-item {{#if @first}}is-active{{/if}}" data-video-id="{{id}}">
                    <div>
                        <img 
                            loading="lazy" 
                            src="{{cdn 'img/loading.svg'}}" 
                            data-src="//i.ytimg.com/vi/{{id}}/default.jpg"/>
                    </div>
                    <div>
                        <h5>{{title_long}}</h5>
                        <p>{{description_short}}</p>
                    </div>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>

</section>
